:host {
  --card-padding: 0.85rem;
  --card-bg: light-dark(var(--primary-100_light), var(--primary-85_dark));
  --card-color: light-dark(var(--primary-80_dark), var(--primary-20_dark));
  --card-border: light-dark(var(--primary-85_light), var(--primary-60_dark));
  --card-footer-width: calc(100% - calc(var(--card-padding) * 3.15));
  --card-border-radius: calc(var(--border-radius) * 2);
  --card-footer-border: light-dark(var(--primary-75_light), var(--primary-75_dark));

  /* Custom properties for projected content */
  --dialog-content-bg: red;
  --dialog-content-padding: var(--card-padding);

  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  &:hover {
    z-index: 2;
    border-color: red;
  }

  .card-body {
    position: relative;
    background-color: var(--card-bg);
    color: var(--card-color);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    border: 1px solid var(--card-footer-border);
    display: flex;
    justify-content: center;
    align-items: stretch;
    font-size: 0.9rem;
    line-height: normal;
    z-index: 1;
    isolation: isolate;

    &::before {
      content: '';
      position: absolute;
      width: calc(100% - var(--card-padding) * 1.85);
      height: 3px;
      inset-block-end: -1px;
    }

    & .journey-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-grow: 1;
    }

    & .price-and-buttons {
      position: relative;
      flex-shrink: 0;
      flex-basis: content;
      display: flex;
      justify-content: center;
      gap: var(--card-padding);
    }
    & .price {
      position: relative;
      padding-inline-end: calc(var(--card-padding) * 1.5);
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      flex-direction: column;
      flex-grow: 1;
      gap: 0.35rem;
    }
    & .buttons {
      position: relative;
      display: flex;
      gap: 0.75rem;
      flex-shrink: 0;
      max-width: max-content;
      justify-content: center;
      align-items: center;
    }
  }


}

.card-content {
  position: relative;
  background-color: red;
  width: 500px;
  padding: var(--card-padding);
  padding: 2rem;
  margin-inline: auto;
}
