:host {
  --btn-bg: light-dark(var(--accent-10), var(--accent-20));
  --btn-color: var(--accent-100);
  --btn-bg-hover: var(--accent-100);
  --btn-color-hover: var(--accent-color);
  --btn-border-color: light-dark(var(--accent-40), var(--accent-30));
  --btn-ellipsis-color: light-dark(var(--primary-100_dark), var(--primary-100_dark));
  display: block;
  flex-shrink: 0;
  position: relative;
  
  .header-wallet-button {
    position: relative;
    background-color: var(--btn-bg);
    height: var(--grouped-elements-height);
    border-radius: var(--grouped-wrapper-border-radius);
    display: flex;
    align-items: center;
    padding-inline-start: var(--common-padding);
    gap: calc(var(--common-padding) / 4);
    transition: var(--transition);
    height: var(--grouped-elements-height);
    box-shadow: inset 0 0 0 1px var(--btn-border-color);
    .wallet-amount {
      display: flex;
      align-items: center;
      font-size: 1.25rem;
      line-height: 1.5rem;
      gap: 0.25rem;
      color: var(--btn-color);
    }
    .icon {
      --icon-hover-bg_light: var(--accent-50);
      --icon-hover-bg_dark: var(--accent-50);
      width: var(--grouped-elements-height);
      aspect-ratio: 1;
      color: var(--btn-ellipsis-color);
    }
    &:hover {
      background-color: var(--btn-bg-hover);
      box-shadow: inset 0 0 0 1px var(--btn-bg-hover);
      .wallet-amount {
        color: var(--btn-color-hover);
      }
    }
  }

  .wallet-short-info {
    --columns: 3;
    position: relative;
    display: grid;
    gap: calc(var(--common-padding) * 3);
    grid-template-columns: repeat(var(--columns), 1fr);
    & .wallet-short-info__list {
      position: relative;
      display: grid;
      gap: calc(var(--common-padding) / 3);
      .label {
        opacity: 0.75;
      }

      &:not(:last-child)::after {
        content: '';
        position: absolute;
        inset-inline-start: calc(100% + calc(var(--common-padding) * 1.5));
        width: 1px;
        height: 100%;
        opacity: 0.25;
        background-color: var(--border-color);
      }
    }
  }
}
