 @for (modal of modalService.openModals(); track modal.id) {
  <div class="ng-modal-wrapper" [id]="modal.id">
    @if(modal.config.overlay) {
      <div class="modal-overlay" (click)="modal.config.overlayClose !== false && modalService.close(modal.id)"></div>
    }
    <!-- <div class="modal-container {{ modalService.getCurrentModalId() }}" (click)="$event.stopPropagation()"> -->
    <div class="modal-container container-{{ modal.id }}">
      <div class="top-strip"></div>
      <div
        [@slideIn]="getAnimationParams(modal)"
        [ngClass]="{'no-gap': classes()?.includes('no-gap')}"
        class="modal-content hasScrollbar {{ classes() }} content-{{ modal.id }}">
        <ng-container *ngComponentOutlet="modal.config.component; inputs: modal.config.inputs" />
      </div>
    </div>
  </div>
}
