 @for (modal of modalService.openModals(); track modal.id) {
  <div class="ng-modal-wrapper" [id]="modal.id">
    @if(modal.config.overlay) {
      <div class="modal-overlay" (click)="modal.config.overlayClose !== false && modalService.close(modal.id)"></div>
    }
    <div
      [ngClass]="{'no-gap': classes()?.includes('no-gap')}"
      class="modal-container {{ classes() }}"
      [@slideIn]="getAnimationParams(modal)" (click)="$event.stopPropagation()">
      @if(heading()) {
        <div class="modal-header">
          <h4 class="font__verbatim--bold">{{ heading() }}</h4>
          <button class="button icon-only danger--light size--small">
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>
      }
      <ng-container
        *ngComponentOutlet="modal.config.component; inputs: modal.config.inputs" />
    </div>
  </div>
}
