<!-- <div class="aside-bar-wrapper">
  <div class="menu-item bar-menu cursor--pointer">
    <i class="fa-regular fa-bars"></i>
    <span class="tooltip-text">Expand Menus</span>
  </div>
</div> -->
<ul class="aside-menu">
  @for (menu of asideMenus(); track menu) {
    <li
      #menuItem
      [tooltip]="menu.title"
      tooltipDirection="right"
      [tooltipDelay]="300"
      [routerLink]="menu.path"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      [ngClass]="{'active': isRouteActive() && menu.title.toLowerCase() === 'search'}"
      class="aside-menu__list {{menu.class && menu.class}}">
      <a
        (click)="updateActiveStrip()"
        (mouseover)="onTabHover($event)"
        (mouseleave)="onTabUnHover($event)"
        [routerLink]="menu.path"
        routerLinkActive="active"
        [ngClass]="{'active': isRouteActive() && menu.title.toLowerCase() === 'search'}"
        [routerLinkActiveOptions]="{ exact: true }"
        class="menu-item__link menu-item {{menu.class && menu.class}}">
        <i class="fa-light fa-{{ menu.icon }}"></i>
        <!-- <span class="tooltip-text">{{ menu.title }}</span> -->
      </a>
    </li>
  }
  <!-- Active menu highlight strip -->
  <span class="selected-strip" [dir]="layoutDirection" [style]="activeStripStyles()"></span>
  <!-- Optional hover strip -->
  <span class="selected-strip hovered-strip" [ngClass]="{ 'isActive': isElementHover() }" [dir]="layoutDirection" [style]="hoveredStripStyles()"></span>

</ul>

