/* Base colors */
:root {
  color-scheme: light dark;
  --mixture-light: hsl(0, 0%, 100%);
  --mixture-dark: hsl(0, 0%, 2%);
  --color-mode: srgb;

  --successLightHex: hsl(119, 66%, 33%);
  --successDarkHex: hsl(119, 69%, 29%);
  --dangerLightHex: hsl(0, 69%, 39%);
  --dangerDarkHex: hsl(0, 72%, 30%);
  --infoHex: hsl(210, 78%, 39%);
  --warningHex: hsl(35, 93%, 41%);
  --purpleHex: hsl(287, 74%, 26%);
  --yellowHex: hsl(47, 82%, 45%);

  /* useable variables */
  --body-backdrop-bg: light-dark(var(--primary-100_light), var(--primary-95_dark));
  --body-bg: light-dark(var(--primary-95_light), var(--primary-80_dark));
  --body-bg_reversed: light-dark(var(--primary-100_dark), var(--primary-70_light));
  --body-color: light-dark(var(--primary-100_dark), var(--primary-100_light));
  --body-color_reversed: light-dark(var(--primary-100_light), var(--primary-100_dark));

  --border-color: light-dark(var(--primary-85_light), var(--primary-70_dark));

  --link-color: var(--body-color);
  --link-hover-color: light-dark(var(--accent-light), var(--accent-dark));

  --light: var(--primary-100_light);
  --white: hsl(0, 0%, 100%);
  --dark: var(--primary-100_dark);
  --black: hsl(0, 0%, 3%);
}
