:root {
  --gutter-x: 1.5rem;
  --gutter-y: 0;
  --max-z-index: 10;
  --border-width: 1px;
  --common-opacity: 0.25;
  --common-btn-height: 48px;
  --common-input-height: 48px;
  --common-margin: 1rem;
  --common-margin-y-end: var(--common-margin);
  --common-padding: 1rem;
  --common-font-weight: 400;
  --border-radius: 0.35rem;
  --transition-property: all;
  --transition-type: ease-in-out;
  --transition-duration: 0.35s;
  --cubic-bezier: cubic-bezier(0.88, 0.22, 0.1, 0.89);
  --transition: var(--transition-property) var(--transition-duration) var(--transition-type);
  --transparent: transparent;

  --input-color: inherit;
  --input-fw: inherit;
  --input-color: inherit;
  --input-placeholder-opacity: 0.75;
  --input-placeholder-fw: inherit;

  --svg-fill: var(--body-color);
  --svg-stroke: var(--body-color);
  --svg-stroke-width: 3.25;

  --header-height: 70px;
  --aside-width: 80px;

  --outline-width: 0.15rem;
  --outline-style: solid;
  --outline-color: hsla(var(--light-hsl), 0.5);
  --outline-bg: hsla(var(--light-hsl), 0.35);
  --outline-text-color: inherit;
  --outline-offset: 0.2rem;
  --outline-radius: var(--border-radius);
  --scrollbar-bg-thumb: var(--body-color);
  --scrollbar-bg-track: transparent;
  --scrollbar-width: 5px;


  /* ===========[ Tooltip ]=========== */
  --tooltip-wrapper-bg: light-dark(var(--primary-80_dark), var(--primary-75_light));
  --tooltip-wrapper-color: var(--body-color_reversed);


  /* =========== [ Switch Toggles ]=========== */
  --switch-height: 18px;
  --switch-width: var(--switch-height);
  --checkbox-position-x: 0;
  --label-color: var(--body-color);
  --label-font-size: 1rem;
  --label-font-weight: 400;
  --checkbox-checked-bg: var(--primary);
  --checkbox-checked-circle: var(--white);

  --breaker-line-height: 5px;
  --breaker-line-opacity: 0.5;
  --breaker-line-bg-rgb: var(--border-color-rgb);
  --breaker-line-margin-y: 1rem;
  --breaker-line-padding-y: 0.45rem;
}
