:root {
  /* Secondary Base */
  --secondary-hue: 241;
  --accent-hue: 24;

  /* Light Shades */
  --secondary-100: hsl(var(--secondary-hue), 82%, 38%);
  --secondary-90: hsl(var(--secondary-hue), 67%, 44%);
  --secondary-80: hsl(var(--secondary-hue), 54%, 49%);
  --secondary-70: hsl(var(--secondary-hue), 54%, 55%);
  --secondary-60: hsl(var(--secondary-hue), 56%, 61%);
  --secondary-50: hsl(var(--secondary-hue), 59%, 67%);
  --secondary-40: hsl(var(--secondary-hue), 63%, 73%);
  --secondary-30: hsl(var(--secondary-hue), 68%, 78%);
  --secondary-20: hsl(var(--secondary-hue), 78%, 84%);
  --secondary-10: hsl(var(--secondary-hue), 100%, 90%);

  /* accent */
  --accent-100: hsl(var(--accent-hue), 100%, 50%);
  --accent-90: hsl(var(--accent-hue), 99%, 55%);
  --accent-80: hsl(var(--accent-hue), 98%, 59%);
  --accent-70: hsl(var(--accent-hue), 98%, 64%);
  --accent-60: hsl(var(--accent-hue), 96%, 69%);
  --accent-50: hsl(var(--accent-hue), 95%, 74%);
  --accent-40: hsl(var(--accent-hue), 93%, 79%);
  --accent-30: hsl(var(--accent-hue), 90%, 84%);
  --accent-20: hsl(var(--accent-hue), 83%, 88%);
  --accent-10: hsl(var(--accent-hue), 71%, 93%);

  --accent-light: hsl(24, 100%, 50%);
  --accent-dark: hsl(24, 100%, 50%);
  --accent: light-dark(var(--accent-light), var(--accent-dark));
  --accent-color: var(--light);
  --secondary-light: hsl(242, 82%, 38%);
  --secondary-dark: hsl(242deg 78.9% 70.15%);
  --secondary-color: var(--light);
  --secondary: light-dark(var(--secondary-light), var(--secondary-dark));

  --auth-page-bg-light: hsl(242, 90%, 25%);
  --auth-page-bg-dark: hsl(242, 95%, 2%);
}
