<div class="modify-content-wrapper">
  <div class="strip-wrapper">
    <div class="strip-element">
      <span class="icon"><i class="fa-solid fa-arrow-right-arrow-left"></i></span>
      <span>Roundtrip</span>
    </div>
    <div class="grouped-elements">
      <div class="strip-element-container" [tooltip]="'Dubai (DXB), Dubai International Airport'">
        <div class="strip-element">
          <span class="icon"><i class="fa-solid fa-circle-dot"></i></span>
          <span class="text-ellipsis">Dubai (DXB), Dubai International Airport</span>
        </div>
      </div>
      <div class="strip-element-container" [tooltip]="'Delhi (DEL), Indira Gandhi International Airport'">
        <div class="strip-element">
          <span class="icon"><i class="fa-solid fa-circle-stop"></i></span>
          <span class="text-ellipsis">Delhi (DEL), Indira Gandhi International Airport</span>
        </div>
      </div>
    </div>
    <div class="strip-element">
      <span class="icon"><i class="fa-solid fa-calendar"></i></span>
      <span>31/03/2025</span>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <span>30/04/2025</span>
    </div>
    <div class="strip-element">
      <span class="icon"><i class="fa-solid fa-family"></i></span>
      <span>
        <span>01 Ad</span>&nbsp;|&nbsp;
        <span>0 Ch</span> &nbsp;|&nbsp;
        <span>0 Inf</span>
      </span>
    </div>
    <div class="strip-element modify-button" tabindex="0" [tooltip]="'Modify Search'" tooltipDirection="left">
      <span class="icon"><i class="fa-solid fa-edit"></i></span>
      <span>Modify</span>
    </div>
  </div>
</div>