<div class="auth-form-wrapper" responsiveClass>
  <div class="client-logo">
    <client-logo />
  </div>
  <div class="form-content">
    <h5 class="subTitle font__verbatim--medium mb-0_5">{{ content().smallTitle | uppercase }}</h5>
    <h2 class="title font__verbatim--bold text--primary mb-0_5">{{ content().title | uppercase }}</h2>
    <div class="text">
      <p>{{ content().text }}</p>
    </div>
  </div>
  <login-form />
  <p [style]="{'margin-block-start': '1.5rem'}">
    {{'LOGIN.DO_NOT_HAVE_AN_ACCOUNT' | translate }}
    <strong>
      <a [href]="registerPageUrl" target="_blank" class="link">{{'LOGIN.REGISTER' | translate }}</a>
    </strong>
  </p>
</div>
<flight-watermark />
