:host,
:host.airline {
  position: relative;
  display: block;

  .airline-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    flex-basis: 180px;
    max-width: 180px;
    gap: calc(var(--card-padding) / 1.5);

    & .airline-logo {
      width: 60px;
      height: 55px;
      aspect-ratio: 1;
      flex-shrink: 0;
      background-color: var(--airline-box-bg);
      border-radius: var(--border-radius);
      overflow: clip;
      padding: 0.25rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
    & .airline-name {
      display: flex;
      flex-direction: column;
      gap: 0.35rem;
      max-width: 125px;
      & .airline-full-name {
        font-size: 0.8rem;
      }
      & .airline-code {
        font-size: 0.75rem;
      }
    }
  }

}
