:host {
  --base-margin: 1rem;
  display: flex;
  align-items: center;
  gap: var(--common-padding);
  width: 100%;
  white-space: nowrap;
  margin-block-start: var(--spacer-margin-y-start, var(--common-padding));
  margin-block-end: var(--spacer-margin-y-end, var(--common-padding));
  .spacer-content {
    color: var(--spacer-title-color, var(--body-color));
    text-transform: var(--spacer-title-transform, initial);
    font-weight: var(--spacer-font-weight, 400);
    font-size: var(--spacer-font-size, var(--base-body-font-size));
  }
  .line {
    width: 100%;
    height: var(--spacer-line-height, 1px);
    background-color: var(--spacer-line-color, var(--border-color));
    display: block;
  }
  &:is(.gap--1) { --gaps: calc(var(--base-gap) * 1); }
  &:is(.gap--1_5) { --gaps: calc(var(--base-gap) * 1.5); }
  &:is(.gap--2) { --gaps: calc(var(--base-gap) * 2); }
  &:is(.gap--2_5) { --gaps: calc(var(--base-gap) * 2.5); }
  &:is(.gap--3) { --gaps: calc(var(--base-gap) * 3); }
  &:is(.gap--3_5) { --gaps: calc(var(--base-gap) * 3.5); }
  &:is(.gap--4) { --gaps: calc(var(--base-gap) * 4); }
  &:is(.gap--4_5) { --gaps: calc(var(--base-gap) * 4.5); }
  &:is(.gap--5) { --gaps: calc(var(--base-gap) * 5); }
}
