:host {
  --btn-bg: light-dark(var(--primary-90_light), var(--primary-80_dark));
  --image-border: light-dark(var(--primary-10_light), var(--primary-90_dark));
  --btn-color: var(--accent-100);
  --btn-bg-hover: var(--accent-100);
  --btn-color-hover: var(--accent-color);
  --btn-ellipsis-color: light-dark(var(--primary-100_dark), var(--primary-100_dark));
  --profile-image-bg: light-dark(var(--primary-40_light), var(--primary-70_dark));
  position: relative;
  display: block;
  .profile-button {
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--btn-bg);
    height: var(--grouped-elements-height);
    border-radius: var(--grouped-wrapper-border-radius);
    cursor: pointer;
    padding-inline-start: 4px;
    transition: var(--transition);
    &:hover, &:is(.active, .is-opened, .selected) {
      --profile-image-bg: var(--accent-50);
      background-color: var(--btn-bg-hover);
      color: var(var(--btn-color-hover))
    }
    & .img-name {
      position: relative;
      display: flex;
      align-items: center;
      gap: calc(var(--common-padding) / 1.5);
      .profile-image {
        width: calc(var(--grouped-elements-height) - 8px);
        height: calc(var(--grouped-elements-height) - 8px);
        line-height: calc(var(--grouped-elements-height) + 5px);
        border-radius: calc(var(--border-radius) / 1.5);
        background-color: var(--profile-image-bg);
        overflow: clip;
        i { font-size: 1.3rem; }
      }
    }
    & .icon {
      --icon-hover-bg_light: var(--accent-50);
      --icon-hover-bg_dark: var(--accent-50);
      width: var(--grouped-elements-height);
      height: var(--grouped-elements-height);
    }
  }

}

