<div class="auth-form-wrapper">
  <div class="client-logo">
    <client-logo />
  </div>

  <div class="form-content">
    <h5 class="subTitle font__verbatim--medium mb-0_5">{{ content().smallTitle | uppercase }}</h5>
    <h2 class="title font__verbatim--bold text--primary mb-0_5">{{ content().title | uppercase }}</h2>
    <div class="text">
      <p>{{ content().text }}</p>
    </div>
  </div>
  <forget-password-form />
  <p [style]="{'margin-block-start': '1.5rem'}">
    Get Back to
    <strong>
      <a [routerLink]="['/login']" class="link">Sign In</a>
    </strong>
  </p>
</div>
<flight-watermark />
