<div class="search-element-block" data-type="origin">
  <div class="block-label">
    <small>Depart From</small>
  </div>
  <div class="block-body focus-within" aria-label="datepicker" role="datepicker">
    <div class="icon">
      <i class="fa-regular fa-calendar"></i>
    </div>
    <div class="block-input">
      <input
        autocomplete="off"
        type="text"
        name="datepicker"
        [id]="datepickerId()"
        class="datepicker-input {{ datepickerId() }}"
        placeholder="select date"
        readonly
      />
    </div>
  </div>
</div>