
:host {
  --bg-image-url: url('/assets/images/auth-page-bg.jpg');
  --container-padding: calc(2rem + 1vw);

  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  isolation: isolate;
  position: relative;
  background-color: light-dark(var(--auth-page-bg-light), var(--auth-page-bg-dark));
  overflow-x: clip;
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: inherit;
    z-index: -1;
    background-image: var(--bg-image-url);
    background-blend-mode: luminosity;
    background-size: cover;
    background-position: bottom right;
    opacity: 0.20;
  }
  .auth-layout-wrapper {
    width: inherit;
    height: inherit;
    display: flex;
    &:is(.tablet-view, .mobile-view) {
      flex-direction: column;
    }
  }
}


