:host {
  $bgImageUrl: url('/assets/images/auth-page-bg.jpg');
  $authWrapperMaxWidth: calc(650px + 5vw);
  * {
    box-sizing: border-box;
  }

  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  display: grid;
  position: relative;
  isolation: isolate;
  background-color: light-dark(var(--secondary-light), var(--secondary-dark));
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: inherit;
    z-index: -1;
    background-image: $bgImageUrl;
    background-blend-mode: luminosity;
    background-size: cover;
    background-position: bottom right;
    opacity: 0.30;
  }

  .auth-content-wrapper {
    display: flex;
    align-items: center;
    .carousel-wrapper {
      width: 100%;
    }
    .auth-page-wrapper {
      position: relative;
      width: 100%;
      max-width: $authWrapperMaxWidth;
      max-height: 90%;
      min-height: 50%;
      padding: calc(2rem + 1vw);
      background-color: light-dark(var(--auth-wrapper-bg-light), var(--auth-wrapper-bg-dark));
      isolation: isolate;
      display: flex;
      align-items: center;
      border-start-start-radius: calc(var(--border-radius) * 4);
      border-end-start-radius: calc(var(--border-radius) * 4);
    }
  }
}


