<div class="loader-content-wrapper">
  <div class="content-wrapper">
    <div class="segment-card-content">
      <div class="segments">
        <div class="segment">
          <h5 class="font__verbatim--bold m-0 text--secondary">DXB</h5>
          <div class="date-wrapper">
            <span class="strip"></span>
            <strong class="date">31 Mar 2025</strong>
          </div>
          <h5 class="font__verbatim--bold m-0 text--accent">DEL</h5>
        </div>
        <div class="segment">
          <h5 class="font__verbatim--bold m-0 text--secondary">DXB</h5>
          <div class="date-wrapper">
            <span class="strip"></span>
            <strong class="date">31 Mar 2025</strong>
          </div>
          <h5 class="font__verbatim--bold m-0 text--accent">DEL</h5>
        </div>
      </div>
    </div>
    <ul class="segment-info">
      <li class="segment-info-list">
        <span class="icon"><i class="fa-solid fa-arrow-right-arrow-left"></i></span>
        <span>Roundtrip</span>
      </li>
      <li class="segment-info-list" title="Passengers" aria-readonly="true" aria-label="Passengers">
        <span class="icon"><i class="fa-solid fa-user"></i></span>
        <span>01 Adult</span>
      </li>
      <li class="segment-info-list" title="class" aria-readonly="true" aria-label="class">
        <span class="icon"><i class="fa-solid fa-seat-airline"></i></span>
        <span>Economy</span>
      </li>
      <li class="segment-info-list" title="Direct Only" aria-readonly="true" aria-label="Direct Only">
        <span class="icon"><i class="fa-solid fa-square-check"></i></span>
        <span>Direct Only</span>
      </li>
      <li class="segment-info-list" title="Suppliers" aria-readonly="true" aria-label="Suppliers">
        <span class="icon"><i class="fa-solid fa-plane"></i></span>
        <span>SM, MS, SU</span>
      </li>
    </ul>
    <div class="aircraft-loader-wrapper">
      <svg viewBox="0 0 150 2">
        <line x1="0" y1="2" x2="200" y2="2" stroke="#ccc" stroke-width="10" class="dash-line"></line>
      </svg>
      <flights-loader-aircraft />
    </div>
  </div>
</div>
<flights-loader-illustration />