<div class="loader-content-wrapper">
  <div class="content-wrapper">
    @if (searchData()) {
      <div class="segment-card-content">
        <div class="segments">
          <loader-segment
            [tripType]="'oneway'"
            [from]="searchData()?.origin?.IATA"
            [date]="searchData()?.dateRange?.onwardDate"
            [to]="searchData()?.destination?.IATA"
          />
          @if(tripType === 'roundtrip') {
            <loader-segment
              [tripType]="'roundtrip'"
              [from]="searchData()?.destination?.IATA"
              [date]="searchData()?.dateRange?.returnDate"
              [to]="searchData()?.origin?.IATA"
            />
            <!-- <div class="segment" [ngClass]="{'segement-2': tripType === 'roundtrip'}">
              <h5 class="font__verbatim--bold m-0 text--secondary">
                {{ searchData()?.destination?.IATA }}
              </h5>
              <div class="date-wrapper">
                <span class="strip"></span>
                <strong class="date">{{
                  searchData()?.dateRange?.returnDate | date : "dd MMM yyyy"
                }}</strong>
              </div>
              <h5 class="font__verbatim--bold m-0 text--accent">
                {{ searchData()?.origin?.IATA }}
              </h5>
            </div> -->
          }
        </div>
      </div>
      <ul class="journey-info">
        <li class="journey-info-list">
          <span class="icon">
            @if(tripType === 'roundtrip') {
              <i class="fa-solid fa-arrow-right-arrow-left"></i>
            } @else {
              <i class="fa-solid fa-arrow-right"></i>
            }
          </span>
          <span>{{ searchData()?.tripType }}</span>
        </li>
        <li
          class="journey-info-list"
          title="Passengers"
          aria-readonly="true"
          aria-label="Passengers"
        >
          <span class="icon">
            <i class="fa-solid fa-{{ familyIcon ? 'family' : 'user' }}"></i>
          </span>
          <span>{{ searchData()?.passengers?.adults }} Ad</span>
          @if(searchData()?.passengers?.children){
          <span>{{ searchData()?.passengers?.children }} Ch</span>
          } @if(searchData()?.passengers?.infants){
          <span>{{ searchData()?.passengers?.infants }} Inf</span>
          }
        </li>
        <li
          class="journey-info-list"
          title="class"
          aria-readonly="true"
          aria-label="class"
        >
          <span class="icon"><i class="fa-solid fa-seat-airline"></i></span>
          <span>{{ searchData()?.selectedCabins?.join(", ") }}</span>
        </li>
        @if(searchData()?.isDirectOnly) {
        <li
          class="journey-info-list"
          title="Direct Only"
          aria-readonly="true"
          aria-label="Direct Only"
        >
          <span class="icon"><i class="fa-solid fa-square-check"></i></span>
          <span>{{ searchData()?.isDirectOnly }}</span>
        </li>
        } @if(searchData()?.suppliers) {
        <li
          class="journey-info-list"
          title="Suppliers"
          aria-readonly="true"
          aria-label="Suppliers"
        >
          <span class="icon"><i class="fa-solid fa-plane"></i></span>
          <span>{{ searchData()?.suppliers?.join(", ") }}</span>
        </li>
        }
      </ul>
      <flights-loader-aircraft />
    }
  </div>
</div>
<flights-loader-illustration />
