:host {
  --empty-state-bg: light-dark(var(--warning-100_light), var(--warning-10_dark));
  --empty-state-border: light-dark(var(--warning-80_light), var(--warning-10_dark));
  --empty-state-color: light-dark(var(--warning-100_dark), var(--warning-100_dark));
  --error-state-bg: light-dark(var(--danger-100_light), var(--danger-10_dark));
  --error-state-border: light-dark(var(--danger-80_light), var(--danger-10_dark));
  --error-state-color: light-dark(var(--danger-100_dark), var(--danger-100_dark));
  --aiport-list-bg: light-dark(var(--primary-90_light), var(--primary-70_dark));
  --aiport-list-color: light-dark(var(--primary-90_dark), var(--primary-100_light));
  display: block;
  border-radius: inherit;

  small {
    position: relative;
    padding-inline: 0.65rem;
    padding-block: 0.5rem;
    display: block;
    border-radius: calc(var(--border-radius) / 1);
    &:is(.empty-state) {
      background-color: var(--empty-state-bg);
      color: var(--empty-state-color);
      box-shadow: inset 0 0 0 1px var(--empty-state-border);
    }
    &:is(.error-state) {
      background-color: var(--error-state-bg);
      color: var(--error-state-color);
      box-shadow: inset 0 0 0 1px var(--error-state-border);
    }
  }

  .airport-list {
    position: relative;
    width: 100%;
    display: grid;
    gap: 0.25rem;
    max-height: 30lvh;
    max-height: 30vh;
    --scrollbar-width: 0; 
    --scrollbar-gutter: unset; 
    & .airport-list_item {
      background-color: var(--aiport-list-bg);
      color: var(--aiport-list-color);
      border-radius: var(--border-radius);
      padding-inline: 0.35rem 0.5rem;
      padding-block: 0.35rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      transition: var(--transition);
      cursor: pointer;
      & .airport-code {
        display: inline-block;
        border-radius: calc(var(--border-radius) / 2);
        width: 50px;
        padding-block: 0.15rem;
        text-align: center;
        font-weight: 700;
        background-color: var(--aiport-list-color);
        color: var(--aiport-list-bg);
      }
      &:not(.selected, .active, :focus-within, :focus, :focus-visible):hover {
        background-color: var(--aiport-list-color);
        color: var(--aiport-list-bg);
        & .airport-code {
          background-color: var(--aiport-list-bg);
          color: var(--aiport-list-color);
        }
      }
      &:is(.selected) {
        background-color: var(--accent);
        color: var(--accent-color);
        & .airport-code {
          background-color: var(--accent-color);
          color: var(--accent);
        }
      }
      &:is(.active) {
        background-color: var(--secondary);
        color: var(--secondary-color);
        & .airport-code {
          background-color: var(--secondary-color);
          color: var(--secondary);
        }
      }
      &:not(.selected, .active):is(:focus-within, :focus, :focus-visible) {
        --outline-color: var(--aiport-list-color);
        --outline-text-color: var(--aiport-list-bg);
        --outline-bg: var(--aiport-list-color);
        --outline-radius: 0;
        background-color: var(--outline-bg);
        color: var(--outline-text-color);
        z-index: 1;
        .airport-code {
          background-color: var(--outline-text-color);
          color: var(--outline-bg);
        }
      }
      &:is(.selected) {
        &:focus-within, &:focus, &:focus-visible {
          --outline-color: var(--accent);
        }
      }
      &:is(.active) {
        &:focus-within, &:focus, &:focus-visible {
          --outline-color: var(--secondary);
        }
      }
    }
  }
}