@if((searchValue()?.length ?? 0) === 0 || (searchValue()?.length ?? 0) < 3) {
  <small class="empty-state" [@fadeIn]>
    Input must be at leaset 3 charactors. eg: <strong>DXB</strong>
  </small>
} @else {
  <ul class="airport-list hasScrollbar">
    <!-- 'selected': selectedAirport()?.airportCode === item.airportCode, -->
    @if(filteredAirport().length > 0) {
      @for (item of filteredAirport(); track $index) {
        <li
          class="airport-list_item" tabindex="0"
          (mouseenter)="focusedIndex.set($index)"
          (click)="onSelect(item)"
          [ngClass]="{
            'focused active': focusedIndex() === $index
          }">
          <span class="airport-code">{{ item.IATA }}</span>
          <span>{{ item.City }}, {{ item.AirportName }}</span>
        </li>
      }
    } @else {
      @if(showError()) {
        <small class="error-state" [@fadeIn]>
          <strong>{{ searchValue() }} :</strong> Not found!, Kindly enter Airport code/city/name...
        </small>
      }
    }
  </ul>
}
