.auth-form-wrapper {
  --client-logo-height: 110px;
  --block-padding: 1rem;
  display: block;
  position: relative;

  .client-logo {
    position: relative;
    margin-inline-start: calc(0px - var(--container-padding));
    margin-block-end: calc(var(--common-margin-y-end) * 2);

    picture {
      display: block;
      max-width: max-content;
      height: var(--client-logo-height);
      background-color: var(--auth-client-logo-bg);
      padding-block: var(--block-padding);
      padding-inline-end: calc(var(--block-padding) * 2);
      padding-inline-start: var(--container-padding);
      border-start-end-radius: calc(var(--border-radius) * 2);
      border-end-end-radius: calc(var(--border-radius) * 2);
      border: 1px solid var(--auth-client-logo-border);
      border-inline-start: 0;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  .form-content {
    position: relative;
    margin-block-end: calc(var(--common-margin) * 1.5);

    .subTitle {
      margin-block-end: calc(var(--common-margin) / 3);
    }
    .title {
      margin-block-end: calc(var(--common-margin) / 3);
    }

    .text {
      text-wrap: pretty;
      max-width: calc(400px + 0vw);
    }
  }
}
