<!-- <div class="search-form-content-wrapper">
  <search-form-header></search-form-header>
  <div class="search-form-content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur perferendis, assumenda laborum ratione deleniti praesentium? Ea vero laborum, velit ab neque architecto nostrum nemo, maiores delectus, dolore rerum perferendis quia!
    <div class="search-form-body">
      <form>
      </form>
    </div>
</div> -->
<search-form-content-wrapper [headingSmall]="'search'" [headingBig]="'Flights'">
  Fli9ghts search form content goes here.
</search-form-content-wrapper>