<div class="modal-header">
  <h3 class="m-0">Modify Search</h3>
  <button class="button icon-only danger--light size--small" (click)="onClose()" (keydown.enter)="onClose()">
    <i class="fa-solid fa-xmark"></i>
  </button>
</div>
<div class="modal-body" (click)="$event.preventDefault()">
  <custom-tabs [setTabs]="flightTabs()" />
  <div class="modify-search-form-container">
    @switch (selectedTab()) {
      @case ('multi-city') {
        <multi-city></multi-city>
      }
      @default {
        <onward-roundtrip [roundTrip]="selectedTab() === 'roundtrip'"></onward-roundtrip>
      }
    }
  </div>
</div>
<div class="modal-footer"></div>
