:host {
  --selector-btn-bg: light-dark(var(--primary-80_light), var(--primary-50_dark));

  position: relative;
  width: 100%;

  .search-element-block {
    .selected-value-strip {
      .selected-pax__list {
        width: 100%;
        position: relative;
        padding-inline: 0.75rem;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.25rem;
        &:is(.selected) { font-weight: 700; }
        &:not(:last-child)::after {
          content: '';
          position: absolute;
          width: 1px;
          height: 80%;
          background-color: var(--input-block-border);
          inset-inline-end: 0;
        }
      }
    }
    .pax-selection__footer {
      --footer-bg: light-dark(var(--primary-95_light), var(--primary-80_dark));
      border-end-start-radius: var(--dropdown-wrapper-radius);
      position: relative;
      display: grid;
      gap: 0.5rem;
      padding-block-end: 0.65rem;
      background-color: var(--footer-bg);
      border-end-end-radius: var(--dropdown-wrapper-radius);
      &:not(.error) {
        padding-block-start: 0.65rem;
      }
      & .error-message {
        position: relative;
        padding: 0.35rem;
        padding-inline-start: 0.65rem;
        inset-block-start: 0;
        background-color: light-dark(var(--danger-10_light), var(--danger-10_dark));
        box-shadow: 0 0 0 1px light-dark(var(--danger-80_light), var(--danger-80_dark));
        display: flex;
        align-items: center;
        gap: 0.55rem;
        font-weight: 600;
        small { font-size: 0.75rem;}
        .error-icon {
          font-size: 1.25rem;
          color: light-dark(var(--danger-0_light), var(--danger-10_dark));
        }
      }
    }
  }
}
