:host {
  --logo-bg: light-dark(var(--primary-100_light), var(--transparent));
  --logo-border-radius: calc(var(--border-radius) * 2);
  --logo-border-color: light-dark(var(--primary-80_light), var(--transparent));
  display: block;
  height: calc(var(--header-height));
  border-block-start: 0;
  border-inline-start: 0;
  /* background-color: var(--logo-bg); */
  /* border-end-start-radius: var(--logo-border-radius);
  border-end-end-radius: var(--logo-border-radius); */
  flex-shrink: 0;
  .header-logo {
    display: flex;
    height: 100%;
    width: 100%;
    padding: calc(var(--common-padding) / 1);
    padding-block: calc(var(--common-padding) / 2);
    border-radius: inherit;
  }
}
