<div 
  class="search-element-block pax-selection-wrapper" 
  [ngClass]="{'error': error(), 'active': dropdownState(),}"
  data-type="passenger-selection" aria-label="passenger-selection">
  <div class="block-label">
    <small>Traveler(s)</small>
  </div>
  <div 
    class="block-body contain-dropdown cursor--pointer focus-within" 
    aria-label="datepicker" 
    data-dropdown="true"
    role="datepicker" 
    [ngClass]="{'error': error(), 'selected': dropdownState()}"
    (clickOutside)="dropdownHandler(false)">
    <div class="icon"><i class="fa-regular fa-family"></i></div>
    <div 
      tabindex="0"
      class="block-input selected-value-wrapper pax-selection-input not-focused" 
      (click)="dropdownHandler(!dropdownState())"
      (blur)="dropdownHandler(dropdownState())"
      (keydown.enter)="dropdownHandler(!dropdownState())">
      <ul class="selected-value-strip selected-pax not-focused" [ngClass]="{'selected': dropdownState()}">
        <li class="selected-pax__list">
          <strong>{{ totalAdults() }}</strong><span>Ad</span>
        </li>
        <li class="selected-pax__list">
          <strong>{{ totalChilds() }}</strong><span>Ch</span>
        </li>
        <li class="selected-pax__list">
          <strong>{{ totalInfants() }}</strong><span>Inf</span>
        </li>
      </ul>
    </div>
    @if(dropdownState()) {
      <div 
        class="dropdown-wrapper passenger-selection-list" 
        [ngClass]="{'error': error(), 'opened': dropdownState()}"
        [@dropDownMenu]>
        <app-plus-minus 
          paxType="Adults" 
          age="12+ Years" 
          [(selectedValue)]="totalAdults" 
          [onIncrement]="add.bind(this, 'adults')" 
          [onDecrement]="subtract.bind(this, 'adults')">
        </app-plus-minus>
        <app-plus-minus 
          paxType="Children" 
          age="Aged 2 – 11" 
          [(selectedValue)]="totalChilds" 
          [onIncrement]="add.bind(this, 'children')" 
          [onDecrement]="subtract.bind(this, 'children')">
        </app-plus-minus>
        <app-plus-minus 
          paxType="Infant(s)" 
          age="below 2 Years" 
          [(selectedValue)]="totalInfants" 
          [onIncrement]="add.bind(this, 'infants')" 
          [onDecrement]="subtract.bind(this, 'infants')">
        </app-plus-minus>
        <div class="dropdown-wrapper__list dropdown-wrapper__footer pax-selection__footer dropdown-anime-item" [ngClass]="{'error': error()}">
          @if(error()) {
            <div class="error-message dropdown-anime-item">
              <i class="fa-solid fa-triangle-exclamation error-icon"></i>
              <small>{{error()}}</small>
            </div>
          }
          <div class="d-flex justify-content-center dropdown-anime-item">
            <button (blur)="dropdownHandler(false)" type="button" class="extra-small gray text-end reset-values" (click)="reset()">Reset Values</button>
          </div>
        </div>
      </div>
    }
  </div>
</div>