<div class="auth-form-wrapper">
  <div class="client-logo">
    <client-logo />
  </div>

  <div class="form-content">
    <h5 class="subTitle font__verbatim--medium mb-0_5">{{ content().smallTitle | uppercase }}</h5>
    <h2 class="title font__verbatim--bold text--primary mb-0_5">{{ content().title | uppercase }}</h2>
    <div class="text">
      <p>{{ content().text }}</p>
    </div>
  </div>
  <!-- <forget-password-form /> -->
  <form action="" class="form-wrapper">
    <div class="input-block" aria-label="email">
      <span class="icon icon-start">
        <i class="fa-light fa-envelope"></i>
      </span>
      <input type="email" placeholder="Enter registered Email" />
    </div>
    <button type="submit" class="submit-btn btn-dark">Get Reset Link</button>
  </form>

  <p [style]="{'margin-block-start': '1.5rem'}">
    Get Back to
    <strong>
      <a [routerLink]="['/forget-password']" class="link">Sign-in</a>
    </strong>
  </p>
</div>
<flight-watermark />
