<picture [class]="setClassOnPictureTag() || 'client-logo-picture-tag'">
  @if(themeService.themeModeSignal() === 'light') {
  <img src="{{clientLogoPath().light}}" alt="Client Logo" />
  } @else if(themeService.themeModeSignal() === 'dark') {
  <img src="{{clientLogoPath().dark}}" alt="Client Logo" />
  } @else {
  <source srcset="{{clientLogoPath().light}}" media="(prefers-color-scheme: light)" />
  <source srcset="{{clientLogoPath().dark}}" media="(prefers-color-scheme: dark)" />
  <img src="{{clientLogoPath().light}}" alt="Client Logo" />
  }
</picture> 