:host {
  --wrapper-width: calc(900px + 5vw);
  display: grid;
  gap: 1rem;
  position: relative;    
}


.search-page-content-wrapper {
  width: 100%;
  max-width: var(--wrapper-width);
  margin-inline: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--common-margin-y-end);
}


