:host {
  --price-block-bg: light-dark(var(--accent-20_light), var(--accent-10_dark));
  --price-block-border: light-dark(var(--accent-50_light), var(--accent-10_dark));

  position: sticky;
  inset-block-start: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--price-block-bg);
  width: 100%;
  padding-block: 0.75rem;
  padding-inline: 1.25rem;
  border-radius: calc(var(--border-radius) * 2);
  border: 1px solid var(--price-block-border);

  > * {
    display: flex;
    gap: 1rem;
  }
}
