<div class="content-wrapper">
  <h4>Buttons</h4>
  <ul class="buttons">
    <button class="button">
      <span class="icon icon-before"><i class="fa-solid fa-circle-info"></i></span>
      <span>Button with Icon - Before</span>
    </button>
    <button class="button">
      <span>Button with Icon - after</span>
      <span class="icon icon-after"><i class="fa-solid fa-circle-info"></i></span>
    </button>
    <button class="button">
      <span>Button without Icon</span>
    </button>
  </ul>
  <br />
  <h6 class="mb-25"><i class="fa-solid fa-angle-right"></i> &nbsp; Colors</h6>
  <ul class="buttons">
    <button class="button accent"><span>Accent Button</span></button>
    <button class="button secondary"><span>Secondary Button</span></button>
    <button class="button primary"><span>Primary Button</span></button>
    <button class="button dark"><span>Dark Button</span></button>
    <button class="button light"><span>Light Button</span></button>
    <button class="button danger"><span>Danger Button</span></button>
    <button class="button success"><span>Success Button</span></button>
    <button class="button info"><span>Info Button</span></button>
    <button class="button warning"><span>Warning Button</span></button>
  </ul>
  <br />
  <hr />
  <br />
  <h4>Color Palettes</h4>
  <app-color-palette />
</div>

