<!-- <router-outlet></router-outlet> -->
<!-- https://shashankreddynallu.in/multiple-layouts-in-angular -->

<!-- @switch (LayoutService.layout$ | async) {
  @case (PageLayout.Authorized) {
    <default-layout><router-outlet /></default-layout>
  }

  @case (PageLayout.UnAuthorized) {
    <auth-layout><router-outlet /></auth-layout>
  }

  @case (PageLayout.Error) {
    <error-layout><router-outlet /></error-layout>
  }

  @default {
    <auth-layout><router-outlet /></auth-layout>
  }
} -->
<!-- Modal instance -->
<!-- <ng-modal /> -->

