:host {
  --strip-bg: light-dark(var(--primary-85_dark), var(--primary-85_dark));
  --strip-color: light-dark(var(--primary-90_light), var(--primary-85_light));
  --strip-border: light-dark(var(--primary-50_light), var(--primary-75_dark));
  position: relative;
  display: block;
  --modal-container-min-width: 0;

  .content-wrapper {
    position: relative;
    background-color: var(--strip-bg);
    color: var(--strip-color);
    border-radius: calc(var(--border-radius) * 1.35);
    max-width: var(--content-wrapper-max-width);
    margin-inline: auto;
    padding: 0.4rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    &:is(.fixed) {
      padding-inline: 0.25rem 0.3rem;
      padding-block: 0.25rem;
      .button { --btn-height: 30px; }
    }
    /* &:not(.fixed) {} */
    .button {
      --btn-padding-x-end: 0.75rem;
      --btn-height: 33px;
      --btn-bg: light-dark(var(--primary-60_dark), var(--primary-75_dark));
      --btn-border: light-dark(var(--primary-55_dark), var(--primary-80_dark));
    }

  }
  .totol-results {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-inline-start: 0.35rem;
    padding-inline-end: 0.5rem;
    &:is(.bordered-right, .bordered-end) {
      border-inline-end: 1px solid var(--strip-border);
    }
    .text {
      font-size: 0.65rem;
      line-height: 0.75rem;
      max-width: min-content;
      text-transform: uppercase;
    }
  }
}
