<div class="content-wrapper">
  <div class="totol-results">
    <span class="h5 m-0 font__verbatim--bold text--uppercase">1500</span>
    <small class="text">Results Found</small>
  </div>
  <button class="button button--dark-gray size--small margin-x-start--auto">
    <span class="icon icon-before"><i class="fa-solid fa-right-left-large"></i></span>
    <span>Flexible Calendar</span>
  </button>
  <button class="button button--dark-gray size--small">
    <span class="icon icon-before"><i class="fa-solid fa-envelopes"></i></span>
    <span>Selected Emails</span>
  </button>
</div>