:host {
  --aside-bg: light-dark(var(--primary-80_light), var(--primary-70_dark));
  --aside-border-color: light-dark(var(--primary-60_light), transparent);
  --aside-block-paddings: calc(var(--aside-width) / 5.5);
  --aside-menu-bg: light-dark(var(--primary-50_light), var(--primary-65_dark));
  --border-color: light-dark(var(--primary-60_light), var(--primary-40_dark));
  --aside-active-menu-bg: light-dark(var(--secondary), var(--primary-80_dark));
  --aside-active-menu-color: var(--light);
  --aside-menu-size: calc(var(--aside-width) - calc(var(--aside-block-paddings) * 2));
  --aside-tooltip-size: 30px;
  --aside-tooltip-bg: var(--body-color);
  --aside-tooltip-color: var(--body-bg);

  position: fixed;
  display: flex;
  flex-direction: column;
  align-content: start;
  width: var(--aside-width);
  height: calc(100% - var(--header-height));
  z-index: var(--max-z-index);
  inset-inline-start: 0;
  inset-block-end: 0;
  /* background-color: var(--aside-bg); */
  /* border-inline-end: 1px solid var(--aside-border-color); */
  padding: var(--aside-block-paddings);

  .aside-menu {
    position: relative;
    padding-block-start: var(--aside-block-paddings);
    display: grid;
    gap: calc(var(--aside-block-paddings) / 2);
    & li {
      position: relative;
      aspect-ratio: 1 / 1;
      height: var(--aside-menu-size);
      &:is(.active) {
        --aside-tooltip-bg: var(--accent);
        --aside-tooltip-color: var(--primary-100_light);
      }
    }
  }
  .aside-bar-wrapper {
    position: relative;
    min-height: calc(var(--header-height) - var(--aside-block-paddings));
    border-block-end: 1px solid var(--border-color);
  }

  .menu-item {
    position: relative;
    aspect-ratio: 1 / 1;
    height: var(--aside-menu-size);
    display: grid;
    place-items: center;
    font-size: 1.25rem;
    transition: var(--transition);
    border-radius: var(--border-radius);
    isolation: isolate;
    &::after {
      content: '';
      position: absolute;
      visibility: hidden;
      pointer-events: none;
      opacity: 0;
      background-color: var(--accent);
      transition: var(--transition);
      border-radius: var(--border-radius);
      width: 0;
      height: 0;
      inset-inline-end: calc(100% - 4px);
      inset-block-start: 0;
      z-index: -1;
    }
    &:is(.active) {
      background-color: var(--aside-active-menu-bg);
      color: var(--aside-active-menu-color);
      font-size: 1.3rem;
  
      i {
        font-weight: 900;
      }
  
      &::after {
        width: 4px;
        height: 50%;
        visibility: visible;
        opacity: 1;
        inset-block-start: 25%;
      }
  
      &:hover {
        .tooltip-text {
          inset-inline-start: calc(100% + 6px);
        }
      }
    }

    .tooltip-text {
      position: absolute;
      inset-inline-start: 50%;
      inset-block-start: calc(50% - calc(var(--aside-tooltip-size) / 2));
      background-color: var(--aside-tooltip-bg);
      color: var(--aside-tooltip-color);
      height: var(--aside-tooltip-size);
      font-size: 0.95rem;
      display: flex;
      align-items: center;
      padding: 0 0.65rem;
      line-height: 1.25;
      border-radius: calc(var(--border-radius) / 1.25);
      pointer-events: none;
      visibility: hidden;
      opacity: 0;
      transition: var(--transition);
      white-space: nowrap;
      z-index: -5;

      &::after {
        content: '';
        position: absolute;
        inset-inline-end: 100%;
        border-block-start: 6px solid transparent;
        border-block-end: 6px solid transparent;
        border-inline-end: 6px solid var(--aside-tooltip-bg);
      }
    }

    &:hover {
      background-color: var(--aside-menu-bg);
      .tooltip-text {
        z-index: 2;
        transition-delay: 0.5s;
        visibility: visible;
        opacity: 1;
        inset-inline-start: calc(100% + calc(var(--aside-block-paddings) * 1 + 1px));
      }
    }
  }
}
