<section-heading
  class="grid-wrapper page-heading p-0"
  [title]="'DASHBOARD.WELCOME_HEADING' | translate"
  [description]="'DASHBOARD.WELCOME_SUB_TEXT' | translate" [contentScopeEnd]="true">
  <language-switcher />
  <theme-mode-changer />
</section-heading>
<block-spacer [marginStart]="1.5" class="grid-wrapper" />
<div class="grid-wrapper">
  <dashboard-reports />
  <block-spacer [marginStart]="2.5" class="grid-wrapper" />
  <dashboard-graph />
  <block-spacer [marginStart]="2.5" class="grid-wrapper" />
  <data-table></data-table>
</div>

