:host {
  display: grid;
  gap: 1rem;
  .grid-box {
    height: 50px;
    display: grid;
    place-items: center;
    align-items: center;
    width: 100%;
    background-color: #252525;
  }
}

.parent {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
  padding: 1rem;
}

.span-12 {
  grid-column: 1 / span 12;
}
.span-11 {
  grid-column: 1 / span 11;
}
.span-10 {
  grid-column: span 10;
}
.span-9 {
  grid-column: span 9;
}
.span-8 {
  grid-column: span 8;
}
.span-7 {
  grid-column: span 7;
}
.span-6 {
  grid-column: span 6;
}
.span-5 {
  grid-column: span 5;
}
.span-4 {
  grid-column: span 4;
}
.span-3 {
  grid-column: span 3;
}
.span-2 {
  grid-column: span 2;
}
.span-1 {
  grid-column: span 1;
}


/* centering text */
.section {
  display: grid;
  place-items: center;
  text-align: center;
  box-shadow: 0 0 0 1px red;
  height: 50px;
}
