<section-heading
  class="container page-heading p-0"
  [title]="['👋 Hello!', 'Salman Raza']"
  [description]="['Welcome back to your', 'Dashboard']">
</section-heading>
<block-spacer class="container p-0" />
<section-heading
  class="container report-title-header p-0"
  [title]="['Today`s', 'Report']"
  [contentScopeEnd]="true">
  <div class="d-flex" [style]="{'gap': '1rem'}">
    <custom-tabs [setTabs]="subTabs()" />
    <button type="button" class="button disabled">
      <div class="icon icon-before">
        <i class="fa-regular fa-home"></i>
      </div>
      <span class="text">Customize</span>
      <div class="icon icon-after">
        <i class="fa-regular fa-angle-down"></i>
      </div>
    </button>
    <button type="button" class="button ">
      <div class="icon icon-before">
        <i class="fa-regular fa-circle-user"></i>
      </div>
      <span class="text">Customize</span>
    </button>
    <button type="button" class="button" disabled>
      <span class="text">Customize</span>
      <div class="icon icon-after">
        <i class="fa-regular fa-ellipsis-v"></i>
      </div>
    </button>
    <button type="button" class="button icon-only">
      <div class="icon">
        <i class="fa-regular fa-arrow-up-right"></i>
      </div>
    </button>
  </div>
</section-heading>
<br />
<div class="container d-flex" [style]="{'gap': '1rem'}">
  <button type="button" class="button size--large">
    <div class="icon icon-before">
      <i class="fa-regular fa-circle-user"></i>
    </div>
    <span class="text">Large Button</span>
    <div class="icon icon-after">
      <i class="fa-regular fa-ellipsis-v"></i>
    </div>
  </button>
  <button type="button" class="button">
    <div class="icon icon-before">
      <i class="fa-regular fa-circle-user"></i>
    </div>
    <span class="text">Normal Button</span>
    <div class="icon icon-after">
      <i class="fa-regular fa-ellipsis-v"></i>
    </div>
  </button>
  <button type="button" class="button size--small">
    <div class="icon icon-before">
      <i class="fa-regular fa-circle-user"></i>
    </div>
    <span class="text">Small Button</span>
    <div class="icon icon-after">
      <i class="fa-regular fa-ellipsis-v"></i>
    </div>
  </button>
  <button type="button" class="button size--extra-small">
    <div class="icon icon-before">
      <i class="fa-regular fa-circle-user"></i>
    </div>
    <span class="text">Extra Small</span>
    <div class="icon icon-after">
      <i class="fa-regular fa-ellipsis-v"></i>
    </div>
  </button>
</div>
<br />
<div class="container d-flex flex-wrap" [style]="{'gap': '1rem'}">
  <button type="button" class="button large accent">
    <div class="icon icon-before">
      <i class="fa-regular fa-circle-user"></i>
    </div>
    <span class="text">Accent Button</span>
    <div class="icon icon-after">
      <i class="fa-regular fa-ellipsis-v"></i>
    </div>
  </button>
  <button type="button" class="button large accent" disabled>
    <div class="icon icon-before">
      <i class="fa-regular fa-circle-user"></i>
    </div>
    <span class="text">Accent Button</span>
    <div class="icon icon-after">
      <i class="fa-regular fa-ellipsis-v"></i>
    </div>
  </button>
  <button type="button" class="button large primary">
    <div class="icon icon-before">
      <i class="fa-regular fa-circle-user"></i>
    </div>
    <span class="text">Primary Button</span>
    <div class="icon icon-after">
      <i class="fa-regular fa-ellipsis-v"></i>
    </div>
  </button>
  <button type="button" class="button large primary" disabled>
    <div class="icon icon-before">
      <i class="fa-regular fa-circle-user"></i>
    </div>
    <span class="text">Primary Button</span>
    <div class="icon icon-after">
      <i class="fa-regular fa-ellipsis-v"></i>
    </div>
  </button>
  <button type="button" class="button large secondary">
    <div class="icon icon-before">
      <i class="fa-regular fa-circle-user"></i>
    </div>
    <span class="text">Secondary Button</span>
    <div class="icon icon-after">
      <i class="fa-regular fa-ellipsis-v"></i>
    </div>
  </button>
  <button type="button" class="button large secondary" disabled>
    <div class="icon icon-before">
      <i class="fa-regular fa-circle-user"></i>
    </div>
    <span class="text">Secondary Button</span>
    <div class="icon icon-after">
      <i class="fa-regular fa-ellipsis-v"></i>
    </div>
  </button>
  <button type="button" class="button large gray">
    <div class="icon icon-before">
      <i class="fa-regular fa-circle-user"></i>
    </div>
    <span class="text">Gray Button</span>
    <div class="icon icon-after">
      <i class="fa-regular fa-ellipsis-v"></i>
    </div>
  </button>
  <button type="button" class="button large dark-gray">
    <div class="icon icon-before">
      <i class="fa-regular fa-circle-user"></i>
    </div>
    <span class="text">Dark Gray Button</span>
    <div class="icon icon-after">
      <i class="fa-regular fa-ellipsis-v"></i>
    </div>
  </button>
  <button type="button" class="button large dark-gray" disabled>
    <div class="icon icon-before">
      <i class="fa-regular fa-circle-user"></i>
    </div>
    <span class="text">Dark Gray Button</span>
    <div class="icon icon-after">
      <i class="fa-regular fa-ellipsis-v"></i>
    </div>
  </button>
  <button type="button" class="button large light">
    <div class="icon icon-before">
      <i class="fa-regular fa-circle-user"></i>
    </div>
    <span class="text">Light Button</span>
    <div class="icon icon-after">
      <i class="fa-regular fa-ellipsis-v"></i>
    </div>
  </button>
  <button type="button" class="button large light" disabled>
    <div class="icon icon-before">
      <i class="fa-regular fa-circle-user"></i>
    </div>
    <span class="text">Light Button</span>
    <div class="icon icon-after">
      <i class="fa-regular fa-ellipsis-v"></i>
    </div>
  </button>
  <button type="button" class="button large dark">
    <div class="icon icon-before">
      <i class="fa-regular fa-circle-user"></i>
    </div>
    <span class="text">Dark Button</span>
    <div class="icon icon-after">
      <i class="fa-regular fa-ellipsis-v"></i>
    </div>
  </button>
  <button type="button" class="button large dark" disabled>
    <div class="icon icon-before">
      <i class="fa-regular fa-circle-user"></i>
    </div>
    <span class="text">Dark Button</span>
    <div class="icon icon-after">
      <i class="fa-regular fa-ellipsis-v"></i>
    </div>
  </button>
  <button type="button" class="button large info">
    <div class="icon icon-before">
      <i class="fa-regular fa-circle-user"></i>
    </div>
    <span class="text">Info Button</span>
    <div class="icon icon-after">
      <i class="fa-regular fa-ellipsis-v"></i>
    </div>
  </button>
  <button type="button" class="button large info" disabled>
    <div class="icon icon-before">
      <i class="fa-regular fa-circle-user"></i>
    </div>
    <span class="text">Info Button</span>
    <div class="icon icon-after">
      <i class="fa-regular fa-ellipsis-v"></i>
    </div>
  </button>
  <button type="button" class="button large danger">
    <div class="icon icon-before">
      <i class="fa-regular fa-circle-user"></i>
    </div>
    <span class="text">Danger Button</span>
    <div class="icon icon-after">
      <i class="fa-regular fa-ellipsis-v"></i>
    </div>
  </button>
  <button type="button" class="button large danger" disabled>
    <div class="icon icon-before">
      <i class="fa-regular fa-circle-user"></i>
    </div>
    <span class="text">Danger Button</span>
    <div class="icon icon-after">
      <i class="fa-regular fa-ellipsis-v"></i>
    </div>
  </button>
  <button type="button" class="button large success">
    <div class="icon icon-before">
      <i class="fa-regular fa-circle-user"></i>
    </div>
    <span class="text">Success Button</span>
    <div class="icon icon-after">
      <i class="fa-regular fa-ellipsis-v"></i>
    </div>
  </button>
  <button type="button" class="button large success" disabled>
    <div class="icon icon-before">
      <i class="fa-regular fa-circle-user"></i>
    </div>
    <span class="text">Success Button</span>
    <div class="icon icon-after">
      <i class="fa-regular fa-ellipsis-v"></i>
    </div>
  </button>
  <button type="button" class="button large warning">
    <div class="icon icon-before">
      <i class="fa-regular fa-circle-user"></i>
    </div>
    <span class="text">Warning Button</span>
    <div class="icon icon-after">
      <i class="fa-regular fa-ellipsis-v"></i>
    </div>
  </button>
  <button type="button" class="button large warning" disabled>
    <div class="icon icon-before">
      <i class="fa-regular fa-circle-user"></i>
    </div>
    <span class="text">Warning Button</span>
    <div class="icon icon-after">
      <i class="fa-regular fa-ellipsis-v"></i>
    </div>
  </button>
</div>
