:host {
  display: grid;
  position: relative;
  .page-heading {
    --title-strong-color: var(--accent);
    --title-font-family: var(--verbatim_light);
    --title-strong-font-family: var(--verbatim_bold);
  }

  .report-title-header {
    --title-font-size: var(--fs-h5);
    --title-transform: uppercase;
  }
}
p { text-align: center; font-weight: 700; padding: 0.5rem;}
.col {
  border: 1px solid red;
}
/* .container {} */
