:host {
  --legend-card-width: calc(320px + 2vw);
  --card-min-width: 200px;
  --elements-gap: var(--common-padding);
  /* --wrapper-bg: light-dark(var(--primary-100_light), var(--primary-60_dark)); */
  --cards-border: light-dark(var(--primary-90_light), var(--primary-75_dark));
  --elements-border-radius: calc(var(--border-radius) * 1.5);
  container: inline-size;
  display: block;
  display: grid;
  gap: var(--elements-gap);

  .reports-wrapper {
    container: my-container / inline-size;
    position: relative;
    display: grid;
    grid-template-columns: var(--legend-card-width) 1fr;
    background-color: var(--wrapper-bg);
    /* box-shadow: 0 0 0 1px var(--cards-border); */
    border-radius: var(--elements-border-radius);
    /* overflow: clip; */

    .sub-wrapper {
      position: relative;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--card-min-width)), 1fr));
    }

    @media (width < 1300px) and (width > 990px) {
      --legend-card-width: calc(300px + 1vw);
      --card-min-width: 275px;
    }
    @media (width < 990px) {
      grid-template-columns: 1fr;
    }
  }
}