<div class="modify-content-wrapper">
  <div class="strip-wrapper">
    <div class="strip-element">
      <span class="icon">
        @if(tripType === 'roundtrip') {
          <i class="fa-solid fa-arrow-right-arrow-left"></i>
        } @else {
          <i class="fa-solid fa-arrow-right"></i>
        }
      </span>
      <span>{{ searchedData()?.tripType }}</span>
    </div>
    <div class="grouped-elements {{ tripType }}">
      <div
        class="strip-element-container origin {{ tripType }}"
        [tooltipMaxWidth]="250"
        [tooltip]="`Depart From: ${ setOriginDestinationString('origin') }`">
        <div class="strip-element">
          <span class="icon"><i class="fa-regular fa-circle-dot"></i></span>
          <span class="text-ellipsis">{{ setOriginDestinationString('origin') }}</span>
        </div>
      </div>
      <span class="trip-type-icon">
        <span class="icon">
          @if(tripType === 'roundtrip') {
            <i class="fa-solid fa-arrow-right-arrow-left"></i>
          } @else {
            <i class="fa-solid fa-arrow-right"></i>
          }
        </span>
      </span>
      <div
        class="strip-element-container destination {{ tripType }}"
        [tooltipMaxWidth]="250"
        [tooltip]="`Depart To: ${ setOriginDestinationString('destination') }`">
        <div class="strip-element">
          <span class="icon"><i class="fa-regular fa-circle-stop"></i></span>
          <span class="text-ellipsis">{{ setOriginDestinationString('destination') }}</span>
        </div>
      </div>
    </div>
    <div class="strip-element {{ tripType }}">
      <span class="icon"><i class="fa-solid fa-calendar"></i></span>
      <span>{{searchedData()?.dateRange?.onwardDate | dateFormat: "preset": "DATE_MED"}}</span>
      @if(tripType === 'roundtrip') {
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <span>{{searchedData()?.dateRange?.returnDate | dateFormat: "preset": "DATE_MED"}}</span>
      }
    </div>
    <div class="strip-element">
      <span class="icon">
        <i class="fa-solid fa-{{ isFamily ? 'family' : 'user' }}"></i>
        </span>
        <span>
          {{ searchedData()?.passengers?.adults }}
          @if(isFamily) { Ad }
          @else { Adult }
        </span>
        @if(searchedData()?.passengers?.children){
          <span>{{ searchedData()?.passengers?.children }} Ch</span>
          } @if(searchedData()?.passengers?.infants){
          <span>{{ searchedData()?.passengers?.infants }} Inf</span>
          }
    </div>
    <div (click)="showFilterModal()" (keydown.enter)="showFilterModal()" class="strip-element modify-button" tabindex="0" [tooltip]="'Modify Search'" tooltipDirection="left">
      <span class="icon"><i class="fa-solid fa-edit"></i></span>
      <span>Modify</span>
    </div>
  </div>
</div>
