.filter-dropdown-wrapper {
  --filter-elem-height: 39px;
  --filter-elem-padding-x: 0.75rem;
  --filter-elem-bg: light-dark(var(--primary-100_light), var(--primary-70_dark));
  --filter-elem-color: light-dark(var(--primary-90_dark), var(--primary-20_dark));
  --filter-elem-border: light-dark(var(--primary-80_light), var(--primary-70_dark));
  --filter-elem-hover-bg: light-dark(var(--primary-80_dark), var(--primary-30_dark));
  --filter-elem-hover-color: light-dark(var(--primary-95_light), var(--primary-90_dark));
  --filter-elem-hover-border: light-dark(var(--primary-100_light), var(--primary-30_light));
  --filter-elem-border-radius: var(--border-radius);
  --filter-elem-pills-bg: light-dark(var(--primary-80_dark), var(--primary-90_dark));
  --filter-elem-pills-color: light-dark(var(--primary-95_light), var(--primary-10_dark));

  --selected-pills-bg: var(--accent);
  --selected-pills-color: var(--accent-color);

  .ng-tooltip {
    --tooltip-padding-x: 0.35rem;
    --tooltip-padding-y: 0.35rem;
  }

  position: relative;
  transition: var(--transition);
  border-radius: var(--filter-elem-border-radius);
  flex-basis: content;
  display: flex;

  &:is(.active) {
    z-index: 1;
  }

  .filter-button-element {
    position: relative;
    display: flex;
    align-items: center;
    height: var(--filter-elem-height);
    background-color: var(--filter-elem-bg);
    color: var(--filter-elem-color);
    border: 1px solid var(--filter-elem-border);
    border-radius: calc(var(--filter-elem-border-radius) * 1.15);
    font-weight: 600;
    padding-inline: var(--filter-elem-padding-x);
    transition: var(--transition);
    cursor: pointer;
    font-size: 1rem;
    flex-grow: 1;

    &:is(.filter-all-button) {
      --filter-elem-bg: light-dark(var(--primary-75_light), var(--primary-85_dark));
      --filter-elem-border: light-dark(var(--primary-60_light), var(--primary-85_dark));
    }
    > * {
      flex-grow: 1;
    }
    .pills {
      display: block;
      font-size: 0.95rem;
      padding-inline: 0.6rem 0.5rem;
      background-color: var(--filter-elem-pills-bg);
      color: var(--filter-elem-pills-color);
      border-radius: calc(var(--filter-elem-border-radius) / 1.5);
      height: calc(var(--filter-elem-height) - 8px);
      line-height: calc(var(--filter-elem-height) - 8px);
      transition-delay: 0.0s;
      text-align: center;
      max-width: 185px;
    }

    &:has(.icon-before, &:not(.icon-after)) {
      padding-inline-start: 0;
    }
    &:has(.icon-after, &:not(.icon-before)) {
      padding-inline-end: 0;
    }
    .icon {
      width: calc(var(--filter-elem-height) - 4px);
      border-radius: inherit;
      aspect-ratio: 1;
      align-items: center;
      flex-shrink: 0;
      flex-grow: 0;
    }
    &:is(.selected) {
      padding-inline-end: calc(var(--filter-elem-padding-x) / 3.5);
      .icon-after {
        width: calc(var(--filter-elem-height) - 12px);
      }
    }
    &:not(.selecte, .active, :focus-visible, :focus):hover {
      --filter-elem-pills-bg: light-dark(var(--primary-35_light), var(--primary-90_dark));
      background-color: var(--filter-elem-hover-bg);
      color: var(--filter-elem-hover-color);
      border-color: var(--filter-elem-hover-border);
    }
    &:is(:focus-visible, :focus) {
      --filter-elem-bg: var(--filter-elem-hover-bg);
      --filter-elem-color: var(--filter-elem-hover-color);
      --filter-elem-border: var(--filter-elem-hover-border);
      --outline-color: var(--filter-elem-hover-bg);
    }
    &:is(.fixed) {
      --filter-elem-height: 36px;
      padding-inline-end: calc(var(--filter-elem-padding-x) / 4);
    }
    &:is(.active) {
      background-color: var(--secondary);
      color: var(--secondary-color);
      border-color: var(--secondary);
      border-end-start-radius: 0;
      border-end-end-radius: 0;
      --filter-elem-pills-bg: var(--secondary-color);
      --filter-elem-pills-color: var(--secondary);

      &::before,
      &::after {
        content: "";
        position: absolute;
        background-color: transparent;
        width: var(--wrapper-border-radius);
        height: var(--wrapper-border-radius);
        inset-block-end: 1px;
        z-index: -1;
        border-block-start: 1px solid transparent;
      }
      &::before {
        inset-inline-end: calc(100% + 1px);
        border-radius: 0 0 100vw 0;
        box-shadow: 5px 6px 0 5px var(--secondary);
      }
      &::after {
        inset-inline-start: calc(100% + 1px);
        border-radius: 0 0 0 100vw;
        box-shadow: -5px 6px 0 5px var(--secondary);
      }
    }
  }

  .selected-pills {
    position: relative;
    display: block;
    display: flex;
    flex-wrap: wrap;
    gap: 0.35rem;
    .selected-pill {
      display: inline-flex;
      gap: 0.5rem;
      padding-inline: 0.25rem 0.5rem;
      padding-block: 0.25rem;
      align-items: center;
      background-color: var(--selected-pills-bg);
      color: var(--selected-pills-color);
      border-radius: calc(var(--border-radius) / 1.5);
      &:not(> i) {
        font-size: 0.95rem;
      }
      i {
        font-size: 1.1rem;
        width: 16px;
        line-height: 16px;
        aspect-ratio: 1;
        flex-shrink: 0;
        display: inline-flex;
        align-items: center;
      }
    }
  }

}
