<div
  (clickOutside)="onClick(false)"
  [ngClass]="{'active': showDropdown(), 'fixed': isSticky()}"
  class="filter-dropdown-wrapper">

  <!-- [tooltip]="tooltipText ? tooltipTemplate : null"
  tooltipDirection="top" -->
  <button
    [ngClass]="{ 'active': showDropdown(), 'selected': selectedValue(), 'fixed': isSticky() }"
    class="filter-button-element {{ classToButton() }}"
    (keydown.enter)="onClick(!showDropdown())"
    (click)="onClick(!showDropdown())">

    @if(iconBefore()) {
      <span class="icon icon-before">
        <i class="fa-regular fa-{{ iconBefore() }}"></i>
      </span>
    }

    @if(tooltipText) {
      <span class="pills text-ellipsis">
        {{ tooltipText }}
      </span>
    } @else {
      <span class="text-ellipsis">{{ buttonName() || 'button name' }}</span>
    }

    @if(iconAfter() && !tooltipText) {
      <span class="icon icon-after">
        <i class="fa-regular fa-{{ iconAfter() }}"></i>
      </span>
    }

  </button>

  @if(showDropdown()) {
    <div
      [ngClass]="{'active': showDropdown(), 'selected': selectedValue()}"
      class="filter-dropdown-data {{ classToContentWrapper() }}">
      <ng-content>
        {{ tooltipText ||  'Dropdown Content will be here!'}}
      </ng-content>
    </div>
  }
</div>


<!-- <ng-template #tooltipTemplate>
  @if (tooltipText) {
    @if(pills) {
      <span class="selected-pills">
        @for(pill of pills; track pill) {
          <span class="selected-pill">
            <i class="fa-solid fa-square-check"></i>
            <span>{{pill}}</span>
          </span>
        }
      </span>
    }
  }
</ng-template> -->
