:host {
  --grid-column: 2;
  .indicator-list {
    position: relative;
    display: grid;
    max-width: fit-content;
    grid-template-columns: repeat(var(--grid-column), 1fr);
    column-gap: calc(var(--common-padding) * 1.5);
    row-gap: calc(var(--common-padding) / 3);
    & .indicator-list__item {
      display: flex;
      align-items: center;
      gap: calc(var(--common-padding) / 2);
    }
  }
}
