.data-table-wrapper {
  --table-wrapper-bg_fallback: light-dark(var(--primary-100_light), var(--primary-85_dark));
  --table-border-color_fallback: light-dark(var(--primary-100_light), var(--primary-75_dark));
  --table-wrapper-header-bg_fallback: light-dark(var(--primary-100_light), var(--primary-75_dark));
  --table-head-bg_fallback: light-dark(var(--primary-10_light), var(--primary-70_dark));
  --table-head-color_fallback: light-dark(var(--primary-100_light), var(--primary-100_light));
  --table-wrapper-padding-x_fallback: calc(1rem + 0.5vw);
  --table-wrapper-padding-y_fallback: calc(1rem + 0.5vw);

  --table-row-odd-bg_fallback: light-dark(var(--primary-95_light), var(--primary-80_dark));
  --table-row-even-bg_fallback: light-dark(var(--primary-90_light), var(--primary-75_dark));
  --table-pagination-size: 40px;
  --table-pagination-wrapper-bg-fallback: light-dark(var(--primary-95_light), var(--primary-95_dark));
  --table-pagination-wrapper-cell-fallback: light-dark(var(--primary-95_light), var(--primary-80_dark));
  --table-pagination-cell-hover-fallback: light-dark(var(--primary-95_dark), var(--primary-65_dark));
  --table-pagination-cell-active-fallback: light-dark(var(--accent-100_light), var(--accent-100_dark));
  
  position: relative;
  background-color: var(--table-wrapper-bg, var(--table-wrapper-bg_fallback));
  display: flex;
  flex-direction: column;
  gap: var(--table-gap, 1.5rem);
  box-sizing: border-box;
  padding-inline: var(--table-wrapper-padding-x, var(--table-wrapper-padding-x_fallback));
  padding-block: var(--table-wrapper-padding-x, var(--table-wrapper-padding-y_fallback));
  border-radius: var(--table-border-radius, calc(var(--border-radius) * 2));

  &:not(.no-bordered) {
    border: var(--table-wrapper-border-width, 1px) var(--table-wrapper-border-type, solid) var(--table-wrapper-border-color, var(--table-border-color_fallback))
  }


  .table-header {
    background-color: var(--table-wrapper-header-bg, var(--table-wrapper-bg_fallback));
  }

  .table-body {
    background-color: var(--table-wrapper-body-bg, var(--table-wrapper-bg_fallback));
  }

  .ngx-datatable {
    & .datatable-header {
      position: relative;
      background-color: var(--table-head-bg, var(--table-head-bg_fallback));
      color: var(--table-head-color, var(--table-head-color_fallback));
      display: flex;
      align-items: center;
      margin-block-end: var(--table-head-margin-bottom, 1rem);
      border-radius: var(--table-head-border-radius, var(--border-radius));
      height: var(--table-head-height, 45px) !important;
      min-height: var(--table-head-height, 45px) !important;
    }
    & .datatable-header, .datatable-row-wrapper {
      /* padding-inline: var(--table-head-padding-x, 0.5rem); */
    }
    & .datatable-body-cell,
    & .datatable-header-cell {
      padding-inline: var(--table-cell-padding-x, 0.5rem);
      padding-block: var(--table-cell-padding-y, 0.5rem);
      &:first-child {
        padding-inline-start: var(--table-cell-first-child-padding-x, 0.85rem);
      }
      &:last-child {
        padding-inline-end: var(--table-cell-first-child-padding-x, 0.85rem);
      }
    }
    & .datatable-body {
      position: relative;
      background-color: var(--table-body-bg, var(--table-wrapper-bg_fallback));
      /* border: var(--table-border-width, 1px) var(--table-border-type, solid) var(--table-border-color, var(--table-border-color_fallback)); */
      /* border-radius: var(--table-border-radius, var(--border-radius)); */
      .datatable-row-wrapper {
        position: relative;
        transition: var(--transition);
        &:first-child {
          border-start-start-radius: var(--table-border-radius, var(--border-radius));
          border-start-end-radius: var(--table-border-radius, var(--border-radius));
        }
        &:last-child {
          border-end-start-radius: var(--table-border-radius, var(--border-radius));
          border-end-end-radius: var(--table-border-radius, var(--border-radius));
        }
        &:nth-child(odd) {
          background-color: var(--table-row-odd-bg, var(--table-row-odd-bg_fallback));
        }
        &:nth-child(even) {
          background-color: var(--table-row-even-bg, var(--table-row-even-bg_fallback));
        }
        &:hover, &:is(.active, .selected) {
          background-color: var(--table-row-hover-bg, var(--accent));
          color: var(--table-row-hover-color, var(--accent-color));
          z-index: 1;
        }
      }
    }
    & .datatable-footer {
      margin-block-start: 0.25rem;
      &:not(> *):focus-visible { outline: none; background-color: transparent;}
      & .page-count {
        font-weight: bold;
      }
      & .datatable-pager {
        position: relative;
        padding: 0;
        margin: 0;
        & .pager {
          position: relative;
          display: flex;
          margin-inline-start: auto;
          justify-content: flex-end;
          background-color: var(--table-pagination-wrapper-bg-fallback);
          max-width: max-content;
          border-radius: var(--table-pagination-border-radius, calc(var(--border-radius) * 1));
          /* gap: 0.15rem; */
          li {
            width: var(--table-pagination-size);
            height: var(--table-pagination-size);
            line-height: var(--table-pagination-size);
            border-radius: var(--table-pagination-border-radius, calc(var(--border-radius) * 1));
            padding: 0;
            border: 0;
            background-color: transparent;
            &:not(.active, .disabled):hover a {
              background-color: var(--table-pagination-cell-hover-fallback);
              color: var(--white);
            }
            &:is(.disabled) i {
              opacity: 0.5;
            }
            &:is(.active) a {
              background-color: var(--accent);
              color: var(--accent-color);
              font-weight: 700;
            }
            a {
              padding: 0;
              border-radius: inherit;
              line-height: inherit;
              display: grid;
              place-items: center;
              width: inherit;
              height: inherit;
              background-color: transparent;
              border: 0;
              transition: var(--transition);
              &:hover {
                color: inherit;
              }

            }
            i { 
              line-height: normal; 
              display: grid;
              place-items: center;
              width: inherit;
              height: inherit;
            }
          }
        }
      }
    }
  }
}