<div 
  [ngClass]="{'round-trip': isRoundtrip()}"
  class="search-element-block" 
  data-type="search-datepicker" 
  aria-label="search-datepicker">
  <div class="block-label">
    <small class="start-date-label">Depart Date</small>
    @if(isRoundtrip()) {
      <small class="end-date-label">Return Date</small>
    }
  </div>
  <div 
    class="block-body focus-within" 
    aria-label="datepicker" 
    role="datepicker" >

    <div class="icon">
      <i class="fa-regular fa-calendar"></i>
    </div>
    <div class="input-group" [ngClass]="{'roundtrip-active': isRoundtrip()}">
      <div class="block-input">
        <input
          #startDate
          type="text"
          name="startDate"
          id="startDate"
          class="input-element pointer-events--initial"
          placeholder="Start Date"
          autocomplete="off"
        />
        </div>
        @if(isRoundtrip()) {
          <div class="block-input">
            <input
              #endDate
              type="text"
              id="endDate" 
              name="endDate"
              class="input-element"
              placeholder="End Date"
              autocomplete="off"
            />
        </div>
      }
    </div>
  </div>
</div>


