:host {
  .search-element-block {
    max-width: calc(350px + 5vw);
    .block-label {
      position: relative;
      display: flex;
      justify-content: space-between;
      small {
        flex: 0 1 100%;
        &:is(.end-date-label) {
          padding-inline-start: calc(var(--input-block-height, var(--input-block-height-fallback)) / 1.5);
        }
      }
    }
    .input-group {
      display: flex;
      align-items: center;
      justify-content: center;
      &:is(.roundtrip-active) {
        &::after {
          content: '';
          position: absolute;
          width: 1px;
          height: 50%;
          background-color: var(--input-block-border-color, var(--block-border-color-fallback));
          margin-inline-start: calc(0px - calc(1rem + 1vw));
        }
      }
      .block-input {
        .easepick-wrapper {
          inset-inline-start: 0;
          width: 100%;
          background-color: red;
        }
      }
    }
  }
}