<div 
  [ngClass]="{'round-trip': isRoundtrip()}"
  class="search-element-block" 
  data-type="search-datepicker" 
  aria-label="search-datepicker">
  <div class="block-label">
    <small class="start-date-label">Depart Date</small>
    @if(isRoundtrip()) {
      <small class="end-date-label">Return Date</small>
    }
  </div>
  <div 
    class="block-body focus-within" 
    aria-label="datepicker" 
    role="datepicker">

    <div class="icon">
      <i class="fa-regular fa-calendar"></i>
    </div>
    <div 
      [id]="'parent-' + datepickerParentId()"
      class="input-group not-focused" 
      [ngClass]="{'roundtrip-active': isRoundtrip()}" 
      tabindex="0" 
      (blur)="showDatePicker(false)"
      (focus)="showDatePicker(true)">
      <div class="block-input">
        <input
          #startDate
          type="text"
          name="startDate"
          id="startDate"
          class="input-element user-select pointer-events--initial"
          placeholder="Start Date"
          readonly
          autocomplete="off"
        />
      </div>
      @if(isRoundtrip()) {
      <div class="block-input">
        <input
          tabindex="-1"
          #endDate
          type="text"
          id="endDate" 
          name="endDate"
          class="input-element user-select"
          placeholder="End Date"
          autocomplete="off"
          readonly
        />
      </div>
      }
    </div>
  </div>
  <!-- <small>Error Message</small> -->
</div>


