@import '/src/assets/scss/mixins';
.table-pagination-footer {
  --gaps: 0.35rem;
  --pagination-item-size: 40px;
  --pagination-item-border-radius: var(--bs-border-radius);
  --pagination-item-border-color: var(--bs-border-color);
  --pagination-item-bg: var(--bs-secondary-1);
  --pagination-item-color: var(--bs-body-color);
  --pagination-item-active-bg: var(--bs-primary);
  --pagination-item-active-color: var(--bs-white);

  position: relative;
  @include centerItems($jc: space-between);
  flex-wrap: wrap;
  gap: 0.5rem;
  padding-block-start: 0.75rem;
  margin-block: 1rem;
  border-block-start: 1px solid var(--bs-border-color);

  .custom-pagination {
    position: relative;
    display: flex;
    gap: var(--gaps);
    align-items: center;
    &__list {
      position: relative;
      list-style: none;
      margin: 0;
      padding: 0;
      gap: var(--gaps);
      width: max-content;
      display: flex;
      &__item {
        width: var(--pagination-item-size);
        aspect-ratio: 1 / 1;
        border-radius: var(--pagination-item-border-radius);
        border: 1px solid var(--pagination-item-border-color);
        background-color: var(--pagination-item-bg);
        color: var(--pagination-item-color);
        transition: var(--bs-transition);
        cursor: pointer;
        @include centerItems();

        &:is(.button--prev, .button--next) {
          --pagination-item-border-color: rgba(var(--bs-primary-rgb), 0.3);
          --pagination-item-color: var(--bs-primary);
        }

        &:hover, &:is(.active) {
          background-color: var(--pagination-item-active-bg);
          --pagination-item-border-color: var(--pagination-item-active-bg);
          color: var(--pagination-item-active-color);
        }
        &:is(.active) { font-weight: 700; }
      }
    }

  }
}