<div class="table-pagination-footer">
  <div class="table-records">
    <p class="m-0">
      Showing
      <strong>{{selectedFrom}}</strong>
      To <strong>{{selectedTo}}</strong>
      of <strong>{{totalRecords}}</strong>
      Records
    </p>
  </div>
  <nav class="custom-pagination">
    <ul class="custom-pagination__list">
      <li class="custom-pagination__list__item button--prev"><i class="fa-solid fa-angle-left"></i></li>
      <li class="custom-pagination__list__item">1</li>
      <li class="custom-pagination__list__item active">2</li>
      <li class="custom-pagination__list__item">3</li>
      <li class="custom-pagination__list__item"><i class="fa-solid fa-ellipsis-h"></i></li>
      <li class="custom-pagination__list__item">10</li>
      <li class="custom-pagination__list__item button--next"><i class="fa-solid fa-angle-right"></i></li>
    </ul>
  </nav>
</div>