@use './../common/scss_variables';
$totalColumns: 12;
$gridGutter: 1rem;
$breakpoint--xxl: 1540px;
$breakpoint-wrapper--xxl: calc(#{$breakpoint--xxl} - #{$gridGutter * 2});
$breakpoint--xl: 1400px;
$breakpoint-wrapper--xl: calc(#{$breakpoint--xl} - #{$gridGutter * 2});
$breakpoint--lg: 1200px;
$breakpoint-wrapper--lg: calc(#{$breakpoint--lg} - #{$gridGutter * 2});
$breakpoint--md: 992px;
$breakpoint-wrapper--md: calc(#{$breakpoint--md} - #{$gridGutter * 2});
$breakpoint--sm: 768px;
$breakpoint-wrapper--sm: calc(#{$breakpoint--sm} - #{$gridGutter * 2});
$breakpoint--xs: 576px;
$breakpoint-wrapper--xs: calc(100% - #{$gridGutter * 2});


$allBreakpoints: ($breakpoint--xxl, $breakpoint--xl, $breakpoint--lg, $breakpoint--md, $breakpoint--sm, $breakpoint--xs);

@mixin gridWrapperBreakpoints($breakpoint) {
  @if($breakpoint == $breakpoint--xxl) {
    @media (width > #{$breakpoint--xxl}) {
      &:is(.grid-wrapper__xxl, .grid-wrapper__xl, .grid-wrapper__lg, .grid-wrapper__md, .grid-wrapper__sm, .grid-wrapper__xs) {
        max-width: #{$breakpoint-wrapper--xxl};
      }
    }
  } @else if($breakpoint == $breakpoint--xl) {
    @media (width > #{$breakpoint--xl}) {
      &:is(.grid-wrapper__xl, .grid-wrapper__lg, .grid-wrapper__md, .grid-wrapper__sm, .grid-wrapper__xs) {
        max-width: #{$breakpoint-wrapper--xl};
      }
    }
  } @else if($breakpoint ==$breakpoint--lg) {
    @media (width > #{$breakpoint--lg}) {
      &:is(.grid-wrapper__lg, .grid-wrapper__md, .grid-wrapper__sm, .grid-wrapper__xs) {
        max-width: #{$breakpoint-wrapper--lg};
      }
    }
  } @else if($breakpoint == $breakpoint--md) {
    @media (width > #{$breakpoint--md}) {
      &:is(.grid-wrapper__md, .grid-wrapper__sm, .grid-wrapper__xs) {
        max-width: #{$breakpoint-wrapper--md};
      }
    }
  } @else if($breakpoint == $breakpoint--sm) {
    @media (width > #{$breakpoint--sm}) {
      &:is(.grid-wrapper__sm, .grid-wrapper__xs) {
        max-width: #{$breakpoint-wrapper--sm};
      }
    }
  } @else {
    @media (width > #{$breakpoint--sm}) {
      &:is(.grid-wrapper__xs) {
        max-width: #{$breakpoint-wrapper--xs};
      }
    }
  }
}
@mixin loopGridSpan($gridLength, $breakpoint, $className) {
  @for $i from 1 through $gridLength {
    .grid-span-#{$className}__#{$i} {
      grid-column: span #{$i};
    }
  }
}
@mixin generateGridSpan($gridLength, $breakpoint, $className) {
  @if($className == 'xs') {
    @media (width > #{$breakpoint}) and (width < #{$breakpoint--sm}) {
      @include loopGridSpan($gridLength, $breakpoint, $className);
    }
  } @else if($className =='sm') {
    @media (width > #{$breakpoint}) and (width < #{$breakpoint--md}) {
      @include loopGridSpan($gridLength, $breakpoint, $className);
    }
  } @else if($className =='md') {

    @media (width > #{$breakpoint}) and (width < #{$breakpoint--lg}) {
      @include loopGridSpan($gridLength, $breakpoint, $className);
    }
  } @else if($className =='lg') {
    @media (width > #{$breakpoint}) and (width < #{$breakpoint--xl}) {
      @include loopGridSpan($gridLength, $breakpoint, $className);
    }
  } @else if($className =='xl') {
    @media (width > #{$breakpoint}) and (width < #{$breakpoint--xxl}) {
      @include loopGridSpan($gridLength, $breakpoint, $className);
    }
  } @else {
    @media (width > #{$breakpoint}) {
      @include loopGridSpan($gridLength, $breakpoint, $className);
    }
  }
}

.grid-wrapper {
  display: grid;
  width: 100%;
  margin-inline: auto;
  grid-template-columns: repeat(#{$totalColumns}, 1fr);
  gap: $gridGutter;
  @each $wrapper in $allBreakpoints {
    @include gridWrapperBreakpoints($wrapper);
  }

  @for $i from 1 through $totalColumns {
    .grid-col__#{$i} {
      grid-column: span #{$i};
    }
    // $breakpoint--xs
    @include generateGridSpan($totalColumns, $breakpoint--xs, 'xs');
    // $breakpoint--sm
    @include generateGridSpan($totalColumns, $breakpoint--sm, 'sm');
    // $breakpoint--md
    @include generateGridSpan($totalColumns, $breakpoint--md, 'md');
    // $breakpoint--lg
    @include generateGridSpan($totalColumns, $breakpoint--lg, 'lg');
    // $breakpoint--xl
    @include generateGridSpan($totalColumns, $breakpoint--xl, 'xl');
    // $breakpoint--xxl
    @include generateGridSpan($totalColumns, $breakpoint--xxl, 'xxl');
  }
}
