@use './../mixinis/common-mixins.scss';
.dropdown-container {
  --dropdown-btn-height: 50px;

  --dropdown-btn-bg: var(--bs-body-bg);
  --dropdown-btn-color: var(--bs-body-text);
  --dropdown-btn-active-bg: var(--bs-primary);
  --dropdown-btn-active-color: var(--bs-accent);
  --dropdown-btn-bg: var(--bs-body-bg);
  --dropdown-btn-color: var(--bs-body-text);
  --dropdown-btn-icon-bg: var(--secondary-1);
  --dropdown-btn-gap: 0.6rem;
  --dropdown-btn-border-radius: calc(var(--bs-border-radius) * 1.1);
  --dropdown-btn-padding-y: 0.4rem;
  --dropdown-btn-padding-x-start: 0.5rem;
  --dropdown-btn-padding-x-end: 1rem;

  --dropdown-container-padding-x: 0.3rem;
  --dropdown-container-padding-y: 0.3rem;
  --dropdown-container-border-radius: calc(var(--bs-border-radius) * 1.25);
  --dropdown-container-bg: var(--bs-secondary-1);
  --dropdown-container-min-width: 200px;

  --dropdown-list-border-radius: calc(var(--dropdown-container-border-radius) / 1.5);
  --dropdown-list-height: 36px;
  --dropdown-list-bg: var(--bs-transparent);
  --dropdown-list-color: var(--bs-body-color);
  --dropdown-list-hover-bg: var(--bs-primary);
  --dropdown-list-hover-color: var(--bs-accent);
  --dropdown-list-icon-font-weight: 400;
  --dropdown-list-font-size: 0.98rem;

  --dropdown-search-size: 40px;
  --dropdown-search-icon-width: 0;
  --dropdown-search-input-bg: var(--bs-body-bg);
  --dropdown-search-input-color: var(--bs-body-color);


  position: relative;
  width: 100%;

  .dropdown {
    &__button {
      position: relative;
      display: flex;
      align-items: center;
      gap: var(--dropdown-btn-gap);
      height: var(--dropdown-btn-height);
      background-color: var(--bs-body-bg);
      border-radius: var(--dropdown-btn-border-radius);
      padding-block: var(--dropdown-btn-padding-y);
      padding-inline-start: var(--dropdown-btn-padding-x-start);
      padding-inline-end: var(--dropdown-btn-padding-x-end);
      cursor: pointer;
      background-color: var(--dropdown-btn-bg);
      color: var(--dropdown-btn-color);
      transition: var(--bs-transition);

      &__icon {
        background-color: var(--dropdown-btn-icon-bg);
        flex-shrink: 0;
        height: 100%;
        aspect-ratio: 1 / 1;
        border-radius: var(--dropdown-btn-height);
        box-shadow: 0 0 0 1px var(--bs-border-color);
        @include centerItems($ai: flex-end);
        @include objectFit();
        font-size: 1.85rem;

        i {
          margin-block-end: -0.15rem;
        }
      }

      &__text {
        margin: 0;
      }

      &:hover,
      &:is(.active) {
        background-color: var(--dropdown-btn-active-bg);
        color: var(--dropdown-btn-active-color);
      }
    }

    &__data {
      position: absolute;
      inset-block-start: calc(var(--common-btn-height) * 1.25);
      background-color: var(--dropdown-container-bg);
      min-width: var(--dropdown-container-min-width);
      padding-inline: var(--dropdown-container-padding-x);
      padding-block: var(--dropdown-container-padding-y);
      border: 1px solid var(--bs-primary);
      @include cardShadow();
      border-radius: var(--dropdown-container-border-radius);

      &:is(.direction--left, .direction--start, .start, .left) {
        inset-inline-start: 0;
      }

      &:is(.direction--right, .direction--end, .end, .right) {
        inset-inline-end: 0;
      }

      &:is(.direction--center, .center) {
        inset-inline-start: 50%;
        translate: -50%;
      }

      .dropdown {
        &__search {
          position: relative;
          width: 100%;
          margin-block-end: 0.5rem;

          &__icon {
            position: absolute;
            width: var(--dropdown-search-icon-width);
            height: var(--dropdown-search-size);
            inset-block-start: 0;
            inset-inline-start: 0;
            overflow: hidden;
            color: var(--dropdown-search-input-color);
            @include transition($property: width, $type: var(--bs-cubic-bezier));
            @include centerItems;
          }

          &__input {
            background-color: var(--dropdown-search-input-bg);
            color: var(--dropdown-search-input-color);

            &::placeholder {
              color: inherit;
              font-size: 0.9rem;
            }

            &:focus {
              box-shadow: 0 0 0 0.25rem rgba(var(--bs-primary-rgb), 0.25);
              border-color: var(--dropdown-search-input-bg);
            }

            @include transition($property: padding-inline, $type: var(--bs-cubic-bezier));
          }

          &:focus-within {
            --dropdown-search-icon-width: var(--dropdown-search-size);
            --dropdown-search-input-bg: var(--bs-primary);
            --dropdown-search-input-color: var(--bs-accent);

            input {
              padding-inline-start: var(--dropdown-search-size);
            }

          }
        }

        &__list {
          white-space: nowrap;
          list-style: none;
          position: relative;
          margin: 0;
          padding: 0;
          font-size: var(--dropdown-list-font-size);

          &__item,
          &__item--link {
            display: flex;
            width: 100%;
            align-items: center;
            gap: 0.25rem;
            transition: var(--bs-transition);
            background-color: var(--dropdown-list-bg);
            color: var(--dropdown-list-color);
            border-radius: var(--dropdown-list-border-radius);
            text-decoration: none;

            .__flag {
              width: 25px;
              @include objectFit($fit: contain);
            }

            .__icon {
              width: var(--dropdown-list-height);
              height: var(--dropdown-list-height);
              flex-shrink: 0;

              i:before {
                font-weight: var(--dropdown-list-icon-font-weight);
              }

              @include centerItems();
            }

            &:hover {
              --dropdown-list-icon-font-weight: 700;
              background-color: var(--dropdown-list-hover-bg);
              color: var(--dropdown-list-hover-color);
            }

            &:is(.logout) {
              cursor: pointer;
              --dropdown-list-bg: var(--bs-body-bg);
              --dropdown-list-color: var(--bs-body-color);
            }
          }
        }
      }
    }
  }

  &:is(.currency-dropdown) {
    --dropdown-container-min-width: 250px;

    .dropdown {
      &__button {
        --dropdown-btn-padding-x-start: 1rem;
        --dropdown-btn-padding-x-end: 1rem;
        position: relative;
        justify-content: space-between;

        .__flag {
          width: 25px;
          @include objectFit($fit: contain);
        }
      }

      &__list {
        --scroll-bar-width: 3px;
        max-height: 50vh;
        overflow-y: scroll;
        @include scrollBar();

        &__item {
          padding-inline: 0.25rem;
          padding-block: 0.1rem;
        }
      }
    }
  }

  &:is(.wallet-dropdown) {
    --dropdown-btn-padding-x-start: 0.8rem;
    --dropdown-btn-padding-x-end: 0.8rem;
  }
}
