.button,
button.button,
a.button,
[role="button"],
[type="button"] {
  --btn-bg-fallback: light-dark(var(--primary-90_light), var(--primary-75_dark));
  --btn-color-fallback: light-dark(var(--primary-100_dark), var(--primary-90_light));
  --btn-hover-bg-fallback: light-dark(var(--primary-90_dark), var(--primary-90_light));
  --btn-hover-color-fallback: light-dark(var(--primary-95_light), var(--primary-100_dark));

  --border-fallback: light-dark(var(--primary-80_light), var(--primary-70_dark));
  --btn-box-shadow-fallback: light-dark(var(--primary-80_light), var(--primary-80_dark));
  --btn-padding-x-start-fallback: 0.985rem;
  --btn-padding-x-end-fallback: 0.985rem;

  display: inline flex;
  align-items: center;
  padding-inline-start: var(--btn-padding-x-start, var(--btn-padding-x-start-fallback));
  padding-inline-end: var(--btn-padding-x-end, var(--btn-padding-x-end-fallback));
  padding-block-start: var(--btn-padding-y-start, 0);
  padding-block-end: var(--btn-padding-y-end, 0);
  gap: var(--btn-gap, 1rem);
  font-family: var(--btn-font-family, var(--body-font-family));
  font-size: var(--btn-font-size, calc(var(--body-font-size) * 1.15));
  font-weight: var(--btn-font-weight, 400);
  line-height: var(--btn-line-height, 1.5);
  height: var(--btn-height, var(--common-btn-height));
  color: var(--btn-color, var(--btn-color-fallback));
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  border: var(--btn-border-width, var(--border-width)) solid var(--btn-border, var(--border-fallback));
  border-radius: var(--btn-border-radius, var(--border-radius));
  background-color: var(--btn-bg, var(--btn-bg-fallback));
  transition: var(--transition);
  min-width: var(--btn-min-width, initial);
  max-width: var(--btn-max-width, initial);

  .text {
    white-space: nowrap;
  }

  &:not(:disabled, .disabled, [disabled="true"]):hover {
    background-color: var(--btn-hover-bg, var(--btn-hover-bg-fallback));
    color: var(--btn-hover-color, var(--btn-hover-color-fallback));
    border-color: var(--btn-hover-border, var(--btn-hover-bg-fallback));
  }

  &:not(:disabled, .disabled, [disabled="true"]):is(:focus-visible, &:focus, &:focus-within) {
    /* --btn-bg-fallback: light-dark(var(--primary-100_light), var(--primary-50_dark));
    box-shadow: 0 0 0 var(--box-shadow-size, 0.25rem) var(--btn-box-shadow, var(--btn-box-shadow-fallback)); */
  }

  &:not(:disabled, .disabled, [disabled="true"]):is(:active, &:target) {
    --btn-box-shadow-fallback: light-dark(var(--primary-60_light), var(--primary-50_dark));
    box-shadow: 0 0 0 var(--box-shadow-size, 0.25rem) var(--btn-box-shadow-active, var(--btn-box-shadow-fallback));
  }

  .icon {
    aspect-ratio: 1;
    width: var(--btn-icon-width, var(--btn-height, var(--common-btn-height)));
    height: var(--btn-icon-height, var(--btn-height, var(--common-btn-height)));
    font-size: var(--btn-icon-font-size, 1.2rem);
    flex-shrink: 0;
    display: grid;
    place-items: center;
  }

  &:has(.icon) {
    --btn-gap: 0;
    gap: var(--btn-gap);
  }

  &:has(.icon-before) {
    --btn-padding-x-start: 0;
    padding-inline-start: var(--btn-padding-x-start);
  }

  &:has(.icon-after) {
    --btn-padding-x--end: 0;
    padding-inline-end: var(--btn-padding-x--end);
  }

  &:is(.icon-only) {
    --btn-gap: 0;
    --btn-padding-x-start: 0;
    --btn-padding-x--end: 0;
    padding-inline-start: var(--btn-padding-x-start) !important;
    padding-inline-end: var(--btn-padding-x--end) !important;

    .text {
      display: none !important;
    }
  }

  &:is(.size--large, .large, .size--small, .small, .size--extra-small, .extra-small) {
    &:has(.icon-before) {
      --btn-padding-x-start: 0;
      padding-inline-start: var(--btn-padding-x-start);
    }

    &:has(.icon-after) {
      --btn-padding-x--end: 0;
      padding-inline-end: var(--btn-padding-x--end);
    }

    &:is(.icon-only) {
      --btn-gap: 0;
      --btn-padding-x-start: 0;
      --btn-padding-x--end: 0;
      padding-inline-start: var(--btn-padding-x-start) !important;
      padding-inline-end: var(--btn-padding-x--end) !important;
    }
  }

  &:disabled,
  &[disabled="true"],
  &.disabled {
    --btn-bg-fallback: light-dark(var(--primary-70_light), var(--primary-80_dark));
    --btn-color-fallback: light-dark(var(--primary-10_light), var(--primary-50_dark));
    --border-fallback: light-dark(var(--primary-60_light), var(--primary-70_dark));
    cursor: not-allowed;
    pointer-events: painted;
    background-color: var(--btn-disabled-bg, var(--btn-bg-fallback));
    color: var(--btn-disabled-color, var(--btn-color-fallback));
    border-color: var(--btn-disabled-border, var(--border-fallback));
  }

  &:is(.size--large, .large) {
    --btn-padding-x-start-fallback: 1.25rem;
    --btn-padding-x-end-fallback: 1.25rem;
    --btn-height: calc(var(--common-btn-height) * 1.15);
    --btn-font-size: calc(var(--body-font-size) * 1.25);
    --btn-icon-font-size: calc(var(--btn-font-size) * 1.15);

    padding-inline-start: var(--btn-padding-x-start-fallback);
    padding-inline-end: var(--btn-padding-x-end-fallback);
    font-size: var(--btn-font-size, var(--body-font-size));
  }

  &:is(.size--small, .small) {
    --btn-padding-x-start-fallback: 0.85rem;
    --btn-padding-x-end-fallback: 0.85rem;
    --btn-height: calc(var(--common-btn-height) / 1.15);
    --btn-font-size: calc(var(--body-font-size) / 1);
    --btn-icon-font-size: calc(var(--btn-font-size) * 1.1);

    padding-inline-start: var(--btn-padding-x-start-fallback);
    padding-inline-end: var(--btn-padding-x-end-fallback);
    font-size: var(--btn-font-size, var(--body-font-size));
  }

  &:is(.size--extra-small, .extra-small) {
    --btn-padding-x-start-fallback: 0.5rem;
    --btn-padding-x-end-fallback: 0.5rem;
    --btn-height: calc(var(--common-btn-height) / 1.65);
    --btn-font-size: calc(var(--body-font-size) / 1.2);
    --btn-icon-font-size: calc(var(--btn-font-size) * 1.1);
    --btn-line-height: var(--btn-font-size);
    padding-inline-start: var(--btn-padding-x-start-fallback);
    padding-inline-end: var(--btn-padding-x-end-fallback);
    font-size: var(--btn-font-size, var(--body-font-size));
  }

  &:is(.accent, .button--accent, .accent-outline, .button--accent-outline) {
    --btn-box-shadow: var(--accent-20);
    --btn-box-shadow-active: var(--accent-50);
    --btn-disabled-bg: var(--accent-20);
    --btn-disabled-color: var(--accent-70);
    --btn-disabled-border: var(--accent-30);
  }

  &:is(.accent, .button--accent) {
    --btn-bg: var(--accent);
    --btn-color: var(--accent-color);
    --btn-border: var(--accent);
    --btn-hover-bg: var(--accent-dark);
    --btn-hover-color: var(--accent-color);
    --btn-hover-border: var(--accent-dark);
  }

  &:is(.accent-outline, .button--accent-outline) {
    --btn-bg: var(--transparent);
    --btn-color: var(--accent);
    --btn-border: var(--accent);
    --btn-hover-bg: var(--accent);
    --btn-hover-color: var(--accent-color);
    --btn-hover-border: var(--accent-dark);
  }

  &:is(.primary, .button--primary, .primary-outline, .button--primary-outline) {
    --btn-box-shadow: light-dark(var(--primary-50_light), var(--primary-70_dark));
    --btn-box-shadow-active: light-dark(var(--primary-10_light), var(--primary-30_dark));
    --btn-disabled-bg: light-dark(var(--primary-80_dark), var(--primary-70_dark));
    --btn-disabled-color: light-dark(var(--primary-20_dark), var(--primary-10_dark));
    --btn-disabled-border: light-dark(var(--primary-80_dark), var(--primary-70_dark));
  }

  &:is(.primary, .button--primary) {
    --btn-bg: light-dark(var(--primary-90_dark), var(--primary-40_dark));
    --btn-color: light-dark(var(--primary-90_light), var(--primary-100_light));
    --btn-border: light-dark(var(--primary-90_dark), var(--primary-40_dark));
    --btn-hover-bg: light-dark(var(--primary-70_dark), var(--primary-80_light));
    --btn-hover-color: light-dark(var(--primary-90_light), var(--primary-100_dark));
    --btn-hover-border: light-dark(var(--primary-70_dark), var(--primary-80_light));
  }

  &:is(.primary-outline, .button--primary-outline) {
    --btn-bg: var(--transparent);
    --btn-color: light-dark(var(--primary-100_dark), var(--primary-100_light));
    --btn-border: light-dark(var(--primary-90_dark), var(--primary-40_dark));
    --btn-hover-bg: light-dark(var(--primary-70_dark), var(--primary-80_light));
    --btn-hover-color: light-dark(var(--primary-90_light), var(--primary-100_dark));
    --btn-hover-border: light-dark(var(--primary-70_dark), var(--primary-80_light));
  }

  &:is(.secondary, .button--secondary, .secondary-outline, .button--secondary-outline) {
    --btn-box-shadow: light-dark(var(--secondary-10), var(--secondary-50));
    --btn-box-shadow-active: light-dark(var(--secondary-40), var(--secondary-80));
    --btn-disabled-bg: light-dark(var(--secondary-10), var(--secondary-60));
    --btn-disabled-color: light-dark(var(--secondary-50), var(--secondary-40));
    --btn-disabled-border: light-dark(var(--secondary-20), var(--secondary-40));
  }

  &:is(.secondary, .button--secondary) {
    --btn-bg: light-dark(var(--secondary), var(--secondary-80));
    --btn-color: var(--secondary-color);
    --btn-border: light-dark(var(--secondary), var(--secondary-60));
    --btn-hover-bg: var(--secondary-dark);
    --btn-hover-color: var(--secondary-color);
    --btn-hover-border: light-dark(var(--secondary-dark), var(--secondary-80));
  }

  &:is(.secondary-outline, .button--secondary-outline) {
    --btn-bg: var(--transparent);
    --btn-color: light-dark(var(--secondary), var(--secondary-color));
    --btn-border: light-dark(var(--secondary), var(--secondary-60));
    --btn-hover-bg: var(--secondary-dark);
    --btn-hover-color: var(--secondary-color);
    --btn-hover-border: light-dark(var(--secondary-dark), var(--secondary-80));
  }

  &:is(.dark-gray, .button--dark-gray, .dark-gray-outline, .button--dark-gray-outline) {
    --btn-box-shadow: light-dark(var(--primary-60_light), var(--primary-70_dark));
    --btn-box-shadow-active: light-dark(var(--primary-20_light), var(--primary-50_dark));
    --btn-disabled-bg: light-dark(var(--primary-10_light), var(--primary-50_dark));
    --btn-disabled-color: light-dark(var(--primary-40_dark), var(--primary-10_dark));
    --btn-disabled-border: light-dark(var(--primary-10_dark), var(--primary-40_dark));
  }

  &:is(.dark-gray, .button--dark-gray) {
    --btn-bg: light-dark(var(--primary-30_dark), var(--primary-20_dark));
    --btn-color: light-dark(var(--primary-100_light), var(--primary-100_light));
    --btn-border: light-dark(var(--primary-20_dark), var(--primary-10_light));
    --btn-hover-bg: light-dark(var(--primary-60_dark), var(--black));
    --btn-hover-color: light-dark(var(--primary-100_light), var(--primary-50_light));
    --btn-hover-border: light-dark(var(--primary-60_dark), var(--primary-80_dark));
  }

  &:is(.dark-gray-outline, .button--dark-gray-outline) {
    --btn-bg: var(--transparent);
    --btn-color: light-dark(var(--primary-60_dark), var(--primary-50_light));
    --btn-border: light-dark(var(--primary-20_dark), var(--primary-10_light));
    --btn-hover-bg: light-dark(var(--primary-60_dark), var(--black));
    --btn-hover-color: light-dark(var(--primary-100_light), var(--primary-50_light));
    --btn-hover-border: light-dark(var(--primary-60_dark), var(--primary-80_dark));
  }

  &:is(.light, .button--light, .light-outline, .button--light-outline) {
    --btn-box-shadow: light-dark(var(--primary-70_light), var(--primary-70_dark));
    --btn-box-shadow-active: light-dark(var(--primary-40_light), var(--primary-20_dark));
    --btn-disabled-bg: light-dark(var(--primary-70_light), var(--primary-50_dark));
    --btn-disabled-color: light-dark(var(--primary-10_light), var(--primary-10_dark));
    --btn-disabled-border: light-dark(var(--primary-50_light), var(--primary-40_dark));
  }

  &:is(.light, .button--light) {
    --btn-bg: light-dark(var(--primary-100_light), var(--primary-70_light));
    --btn-color: light-dark(var(--primary-100_dark), var(--primary-100_dark));
    --btn-border: light-dark(var(--primary-100_light), var(--primary-80_light));
    --btn-hover-bg: light-dark(var(--primary-100_light), var(--primary-100_light));
    --btn-hover-color: light-dark(var(--primary-100_dark), var(--primary-100_dark));
    --btn-hover-border: light-dark(var(--primary-50_light), var(--primary-100_light));
  }

  &:is(.light-outline, .button--light-outline) {
    --btn-bg: var(--transparent);
    --btn-color: light-dark(var(--primary-100_light), var(--primary-100_light));
    --btn-border: light-dark(var(--primary-100_light), var(--primary-80_light));
    --btn-hover-bg: light-dark(var(--primary-100_light), var(--primary-100_light));
    --btn-hover-color: light-dark(var(--primary-100_dark), var(--primary-100_dark));
    --btn-hover-border: light-dark(var(--primary-50_light), var(--primary-100_light));
  }

  &:is(.dark, .button--dark, .dark-outline, .button--dark-outline) {
    --btn-box-shadow: light-dark(var(--primary-60_light), var(--primary-80_dark));
    --btn-box-shadow-active: light-dark(var(--primary-20_light), var(--primary-60_dark));
    --btn-disabled-bg: light-dark(var(--primary-70_dark), var(--black));
    --btn-disabled-color: light-dark(var(--primary-10_light), var(--primary-50_dark));
    --btn-disabled-border: light-dark(var(--primary-70_dark), var(--primary-80_dark));
  }

  &:is(.dark, .button--dark) {
    --btn-bg: light-dark(var(--dark), var(--black));
    --btn-color: light-dark(var(--primary-90_light), var(--primary-70_light));
    --btn-border: light-dark(var(--dark), var(--black));
    --btn-hover-bg: light-dark(var(--primary-80_dark), var(--black));
    --btn-hover-color: light-dark(var(--primary-80_light), var(--primary-100_light));
    --btn-hover-border: light-dark(var(--primary-80_dark), var(--black));
  }

  &:is(.dark-outline, .button--dark-outline) {
    --btn-bg: var(--transparent);
    --btn-color: light-dark(var(--primary-100_dark), var(--black));
    --btn-border: light-dark(var(--dark), var(--black));
    --btn-hover-bg: light-dark(var(--primary-80_dark), var(--black));
    --btn-hover-color: light-dark(var(--primary-80_light), var(--primary-100_light));
    --btn-hover-border: light-dark(var(--primary-80_dark), var(--black));
  }

  &:is(.info, .button--info, .info-outline, .button--info-outline) {
    --btn-box-shadow: light-dark(var(--info-90_light), var(--info-100_dark));
    --btn-box-shadow-active: light-dark(var(--info-70_light), var(--info-40_dark));
    --btn-disabled-bg: light-dark(var(--info-10_dark), var(--info-100_dark));
    --btn-disabled-color: light-dark(var(--info-40_dark), var(--info-50_dark));
    --btn-disabled-border: light-dark(var(--info-20_dark), var(--info-90_dark));
  }

  &:is(.info, .button--info) {
    --btn-bg: light-dark(var(--info-60_light), var(--info-90_dark));
    --btn-color: light-dark(var(--light), var(--light));
    --btn-border: light-dark(var(--info-50_light), var(--info-40_dark));
    --btn-hover-bg: light-dark(var(--info-50_light), var(--info-60_dark));
    --btn-hover-color: light-dark(var(--light), var(--light));
    --btn-hover-border: light-dark(var(--info-50_light), var(--info-50_dark));
  }

  &:is(.info-outline, .button--info-outline) {
    --btn-bg: var(--transparent);
    --btn-color: light-dark(var(--info-50_dark), var(--info-60_light));
    --btn-border: light-dark(var(--info-50_light), var(--info-60_light));
    --btn-hover-bg: light-dark(var(--info-50_light), var(--info-60_dark));
    --btn-hover-color: light-dark(var(--light), var(--light));
    --btn-hover-border: light-dark(var(--info-50_light), var(--info-50_dark));
  }

  &:is(.danger, .button--danger, .danger-outline, .button--danger-outline) {
    --btn-box-shadow: light-dark(var(--danger-90_light), var(--danger-100_dark));
    --btn-box-shadow-active: light-dark(var(--danger-70_light), var(--danger-40_dark));
    --btn-disabled-bg: light-dark(var(--danger-10_dark), var(--danger-100_dark));
    --btn-disabled-color: light-dark(var(--danger-40_dark), var(--danger-50_dark));
    --btn-disabled-border: light-dark(var(--danger-20_dark), var(--danger-90_dark));
  }

  &:is(.danger, .button--danger) {
    --btn-bg: light-dark(var(--danger-50_light), var(--danger-80_dark));
    --btn-color: light-dark(var(--light), var(--light));
    --btn-border: light-dark(var(--danger-50_light), var(--danger-40_dark));
    --btn-hover-bg: light-dark(var(--danger-60_light), var(--danger-60_dark));
    --btn-hover-color: light-dark(var(--light), var(--light));
    --btn-hover-border: light-dark(var(--danger-50_light), var(--danger-50_dark));
  }

  &:is(.danger-outline, .button--danger-outline) {
    --btn-bg: var(--transparent);
    --btn-color: light-dark(var(--danger-50_light), var(--danger-40_dark));
    --btn-border: light-dark(var(--danger-50_light), var(--danger-40_dark));
    --btn-hover-bg: light-dark(var(--danger-50_light), var(--danger-60_dark));
    --btn-hover-color: light-dark(var(--light), var(--light));
    --btn-hover-border: light-dark(var(--danger-50_light), var(--danger-50_dark));
  }

  &:is(.success, .button--success, .success-outline, .button--success-outline) {
    --btn-box-shadow: light-dark(var(--success-90_light), var(--success-100_dark));
    --btn-box-shadow-active: light-dark(var(--success-70_light), var(--success-40_dark));
    --btn-disabled-bg: light-dark(var(--success-10_dark), var(--success-100_dark));
    --btn-disabled-color: light-dark(var(--success-40_dark), var(--success-50_dark));
    --btn-disabled-border: light-dark(var(--success-20_dark), var(--success-90_dark));
  }

  &:is(.success, .button--success) {
    --btn-bg: light-dark(var(--success-50_light), var(--success-80_dark));
    --btn-color: light-dark(var(--light), var(--light));
    --btn-border: light-dark(var(--success-50_light), var(--success-40_dark));
    --btn-hover-bg: light-dark(var(--success-60_light), var(--success-60_dark));
    --btn-hover-color: light-dark(var(--light), var(--light));
    --btn-hover-border: light-dark(var(--success-50_light), var(--success-50_dark));
  }

  &:is(.success-outline, .button--success-outline) {
    --btn-bg: var(--transparent);
    --btn-color: light-dark(var(--success-50_light), var(--success-40_dark));
    --btn-border: light-dark(var(--success-50_light), var(--success-40_dark));
    --btn-hover-bg: light-dark(var(--success-50_light), var(--success-60_dark));
    --btn-hover-color: light-dark(var(--light), var(--light));
    --btn-hover-border: light-dark(var(--success-50_light), var(--success-50_dark));
  }

  &:is(.warning, .button--warning, .warning-outline, .button--warning-outline) {
    --btn-box-shadow: light-dark(var(--warning-90_light), var(--warning-100_dark));
    --btn-box-shadow-active: light-dark(var(--warning-70_light), var(--warning-80_dark));
    --btn-disabled-bg: light-dark(var(--warning-10_dark), var(--warning-100_dark));
    --btn-disabled-color: light-dark(var(--warning-40_dark), var(--warning-50_dark));
    --btn-disabled-border: light-dark(var(--warning-20_dark), var(--warning-90_dark));
  }

  &:is(.warning, .button--warning) {
    --btn-bg: light-dark(var(--warning-50_light), var(--warning-80_dark));
    --btn-color: light-dark(var(--light), var(--light));
    --btn-border: light-dark(var(--warning-50_light), var(--warning-30_dark));
    --btn-hover-bg: light-dark(var(--warning-60_light), var(--warning-60_dark));
    --btn-hover-color: light-dark(var(--light), var(--light));
    --btn-hover-border: light-dark(var(--warning-50_light), var(--warning-50_dark));
  }

  &:is(.warning-outline, .button--warning-outline) {
    --btn-bg: var(--transparent);
    --btn-color: light-dark(var(--warning-50_light), var(--warning-30_dark));
    --btn-border: light-dark(var(--warning-50_light), var(--warning-30_dark));
    --btn-hover-bg: light-dark(var(--warning-50_light), var(--warning-60_dark));
    --btn-hover-color: light-dark(var(--light), var(--light));
    --btn-hover-border: light-dark(var(--warning-50_light), var(--warning-50_dark));
  }

  &:is(.accent-on-hover) {
    --btn-hover-bg: var(--accent) !important;
    --btn-hover-color: var(--accent-color) !important;
    --btn-hover-border: var(--accent) !important;
  }
  &:is(.secondary-on-hover) {
    --btn-hover-bg: var(--secondary) !important;
    --btn-hover-color: var(--secondary-color) !important;
    --btn-hover-border: var(--secondary) !important;
  }
  &:is(.accent-on-active) {
    --btn-bg: var(--accent) !important;
    --btn-color: var(--accent-color) !important;
    --btn-border: var(--accent) !important;
  }
  &:is(.secondary-on-active) {
    --btn-bg: var(--secondary) !important;
    --btn-color: var(--secondary-color) !important;
    --btn-border: var(--secondary) !important;
  }
}
