/* Background colors */
.bg-primary--100 { background-color: var(--primary-100) !important; }
.bg-primary--90 { background-color: var(--primary-90) !important; }
.bg-primary--80 { background-color: var(--primary-80) !important; }
.bg-primary--70 { background-color: var(--primary-70) !important; }
.bg-primary--60 { background-color: var(--primary-60) !important; }
.bg-primary--50 { background-color: var(--primary-50) !important; }
.bg-primary--40 { background-color: var(--primary-40) !important; }
.bg-primary--30 { background-color: var(--primary-30) !important; }
.bg-primary--20 { background-color: var(--primary-20) !important; }
.bg-primary--10 { background-color: var(--primary-10) !important; }

.bg--body-bg { color: var(--body-bg) !important; }
.bg--light, .bg--white { background-color: var(--light) !important; }
.bg--dark, .bg--white { background-color: var(--dark) !important; }

.text-primary--100 { color: var(--primary-100) !important; }
.text-primary--90 { color: var(--primary-90) !important; }
.text-primary--80 { color: var(--primary-80) !important; }
.text-primary--70 { color: var(--primary-70) !important; }
.text-primary--60 { color: var(--primary-60) !important; }
.text-primary--50 { color: var(--primary-50) !important; }
.text-primary--40 { color: var(--primary-40) !important; }
.text-primary--30 { color: var(--primary-30) !important; }
.text-primary--20 { color: var(--primary-20) !important; }
.text-primary--10 { color: var(--primary-10) !important; }


/* Text colors */
.text--primary { color: var(--primary) !important; }
.text--secondary { color: var(--secondary) !important; }
.text--accent { color: var(--accent) !important; }
.text-hover--primary:hover { color: var(--primary) !important; }
.text-hover--secondary:hover { color: var(--secondary) !important; }
.text-hover--accent:hover { color: var(--accent) !important; }

.text--body-color { color: var(--body-color) !important; }
.text--light, .text--white { color: var(--light) !important; }
.text--dark, .text--white { color: var(--dark) !important; }
