:host {
  --color-fg-primary: var(--accent);
  --day-width: 40px;
  --day-height: 30px;
  --calendar-border-color: light-dark(var(--primary-75_light), var(--primary-20_dark));
  --container-position-x: 0;
  --container-position-y: 0;
  --tranform-origin-y: top;
  --tranform-origin-x: left;

  --calendar-padding: 0.5rem;
  --calendar-header-height: 35px;
  --calendar-header-button-hover-bg: light-dark(var(--primary-30_light), var(--primary-30_dark));
  --calendar-header-button-hover-color: light-dark(var(--primary-100_dark), var(--primary-30_dark));
  --daynames-row-bg: light-dark(var(--primary-95_light), var(--primary-15_dark));
  --daynames-row-color: light-dark(var(--primary-50_light), var(--primary-75_dark));

  --color-bg-default: light-dark(var(--primary-100_light), var(--primary-5_dark));
  --color-fg-locked: #9e9e9e;
  --color-bg-locked: #ffab91;
  --color-bg-unavailable: light-dark(var(--primary-95_light), var(--primary-15_dark));

  --color-fg-default: #333;
  --color-fg-primary: #6b82ff;
  --color-fg-secondary: #748194;
  --color-fg-selected: #fff;
  --color-fg-muted: #9e9e9e;
  --color-fg-accent: #e63757;
  --color-btn-primary-bg: #fff;
  --color-btn-primary-fg: #6b82ff;
  --color-btn-primary-border: #6b82ff;
  --color-btn-primary-hover-bg: #6b82ff;
  --color-btn-primary-hover-fg: #fff;
  --color-btn-primary-hover-border: #6b82ff;
  --color-btn-primary-disabled-bg: #a2b0ff;
  --color-btn-primary-disabled-fg: #fff;
  --color-btn-primary-disabled-border: #a2b0ff;
  --color-btn-secondary-bg: #fff;
  --color-btn-secondary-fg: #748194;
  --color-btn-secondary-border: #748194;
  --color-btn-secondary-hover-bg: #748194;
  --color-btn-secondary-hover-fg: #fff;
  --color-btn-secondary-hover-border: #748194;
  --color-btn-secondary-disabled-bg: #b5bbc4;
  --color-btn-secondary-disabled-fg: #fff;
  --color-btn-secondary-disabled-border: #b5bbc4;
  --color-border-default: #ddd;
  --color-border-locked: #f9f9f9;
  --day-width: 42px;
  --day-height: 37px;
  --white-color: #fff;
  --black-color: #333;
  --lightgray-color: #f9f9f9;
  --gray-color: #9e9e9e;
  --red-color: #e63757;
  --secondary-color: #ffffff;
}
/* increase start and end */

.container {
  top: inherit !important;
  left: inherit !important;
  font-weight: normal;
  transform: scale(0) !important;
  border-radius: calc(var(--border-radius) * 3);
  box-shadow: 0 0 0 1px var(--input-block-border) !important;
  transform-origin: var(--tranform-origin-y) var(--tranform-origin-x);
  &:is(.show) {
    transform: scale(1) !important;
  }
  &:is(.x-start) { inset-inline-start: var(--container-position-x) !important; }
  &:is(.x-end) { 
    --tranform-origin-x: right;
    inset-inline-end: var(--container-position-x) !important; 
  }
  &:is(.y-start) { inset-block-start: var(--container-position-y) !important; }
  &:is(.y-end) { 
    --tranform-origin-y: bottom;
    inset-block-end: var(--container-position-y) !important; 
  }
  .calendars:has(.calendar:nth-child(2)) {
    &::after {
      content: '';
      position: absolute;
      width: 1px;
      height: calc(100% - var(--calendar-header-height));
      background-color: var(--calendar-border-color);
      inset-inline-start: 50%;
      inset-block-end: 0;
    }
  }
  .calendar {
    --border-radius: 0;
    padding: var(--calendar-padding);
    padding-block-start: 0 !important;
    user-select: none;
    &:first-child {
      position: relative;
    }
    
    > .header {
      padding-block: 0;
      padding-inline: calc(var(--calendar-padding) / 4);
      height: var(--calendar-header-height);
      margin-inline: calc(0px - var(--calendar-padding));
      gap: 0;
      .previous-button, .next-button {
        width: calc(var(--calendar-header-height) - 5px);
        aspect-ratio: 1;
        &:hover {
          background-color: var(--calendar-header-button-hover-bg);
          svg { color: var(--calendar-header-button-hover-color); }
        }
      }
    }
    > .daynames-row {
      position: relative;
      background-color: var(--daynames-row-bg);
      margin-inline: calc(0px - var(--calendar-padding));
      padding-inline: var(--calendar-padding);
      margin-block-end: var(--calendar-padding);
      .dayname {
        color: var(--daynames-row-color);
      }
    }
    > .daynames-row, > .days-grid {
      gap: 0;
    }
    > .days-grid > .day {
      border-radius: 0;
    }
  }
  &:is(.range-plugin) {
    .calendar {
      > .days-grid > .day.start,
      > .days-grid > .day.end {
        font-weight: bold;
        transform: scale(1);
        z-index: 1;
      }
      > .days-grid > .day.end {
        --color-fg-primary: var(--accent);
        --color-fg-selected: var(--accent-color);
      }
      > .days-grid > .day.start {
        --color-fg-primary: var(--secondary);
        --color-fg-selected: var(--secondary-color);
      }
    }
  }
}
