/* @import url('./common/custom-grid.css'); */
@import url('./pages/auth-pages.css');
@import url('./global/global-styles.css');
*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}
html {
  color-scheme: light dark;
  font-size: var(--base-size);
  overflow: auto;
  scrollbar-color: var(--scrollbar-thumb-bg) var(--scrollbar-track-bg);
  scrollbar-width: var(--scrollbar-width);
  scrollbar-gutter: var(--scrollbar-gutter);

  &[data-theme="light"] {
    color-scheme: light;
  }
  &[data-theme="dark"] {
    color-scheme: dark;
  }
  &:is(.freez) {
    /* --scrollbar-gutter: initial; */

  }
}

/* scrollbar-color: var(--scrollbar-thumb-bg) var(--scrollbar-track-bg);
scrollbar-width: var(--scrollbar-width);
scrollbar-gutter: var(--scrollbar-gutter); */
*.hasScrollbar, [data-has-scrollbar] {
  &::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-thumb);
  }

  &::-webkit-scrollbar {
    width: var(--scrollbar-width);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-bg-thumb);
  }
}

body {
  color: var(--body-color);
  background-color: var(--body-backdrop-bg);
  font-weight: 400;
  line-height: var(--body-line-height);
  min-height: 100vh;
  min-height: 100dvh;
  font-family: var(--body-font-family) !important;
  font-family: var(--base-body-font-size);
  &[dir="rtl"] {
    font-family: var(--fonts_arabic), var(--body-font-family) !important;
  }
  &:not(.auth-page) {
    padding-inline-start: var(--aside-width);
    padding-block-start: var(--header-height);
  }

  &:is(.freez) {
    overflow-y: hidden !important;
    overflow-x: hidden !important;
    height: 100vh !important;
  }
  &::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-thumb);
  }

  &::-webkit-scrollbar {
    width: var(--scrollbar-width);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-bg-thumb);
  }

}


.root-wrapper {
  position: relative;
  background: transparent;
  min-height: 100vh;
  width: 100%;
  display: block;
}
.page-content-wrapper {
  padding: var(--common-padding);
  position: relative;
}

