@use './common/custom-grid';
*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  color-scheme: light dark;
  font-size: 16px;
}
canvas {
  background-color: blue;
}
body {
  color: var(--body-color);
  background-color: var(--body-bg);
  font-weight: 400;
  font-family: var(--bs-body-font-family);
  min-height: 100vh;
  min-height: 100dvh;
  // background-image: var(--body-bg-gradient-light);
  // background-repeat: no-repeat;
  // @media (prefers-color-scheme: dark) {
  //   color-scheme: dark;
  //   background-image: var(--body-bg-gradient-dark);
  // }
}

.text {
  // background-color: light-dark(white, black);
  padding: 1.25rem;
  margin: 1rem;
}
.text-accent {
  color: light-dark(var(--accent-light), var(--accent-dark));
}
