/* @import url('./common/custom-grid.css'); */
@import url('./pages/auth-pages.css');
*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  color-scheme: light dark;
  font-size: var(--base-size);
}

body {
  color: var(--body-color);
  background-color: var(--body-backdrop-bg);
  font-weight: 400;
  line-height: var(--body-line-height);
  min-height: 100vh;
  min-height: 100dvh;
  font-family: var(--body-font-family) !important;
  font-family: var(--base-body-font-size);
  &[dir="rtl"] {
    font-family: var(--fonts_arabic), var(--body-font-family) !important;
  }
  &:not(.auth-page) {
    padding-inline-start: var(--aside-width);
    padding-block-start: var(--header-height);
  }
}

.root-wrapper {
  position: relative;
  background: transparent;
  min-height: 100vh;
  width: 100%;
  display: block;
}
.page-content-wrapper {
  padding: var(--common-padding);
  position: relative;
}
