:host {
  --selected-cabin-list-bg: light-dark(var(--primary-90_light), var(--primary-90_dark));
  --selected-cabin-list-color: light-dark(var(--primary-90_dark), var(--primary-90_light));
  --selected-cabin-list-hover-bg: var(--accent);
  
  position: relative;
  .block-body {
    justify-content: space-between;
  }
  .selected-cabins {    
    padding-inline: 0.65rem 0.5rem;
    display: flex;
    justify-content: space-between;
    .class-types {
      max-width: 80%;
      display: block;
      font-weight: 700;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .icon-ellipsis {
      flex-shrink: 0;
      width: 15px;
      text-align: center;
    }
  }
  .selected-value-wrapper {
    max-width: calc(var(--selected-value-strip-max-width) - var(--input-block-height) - 0.5rem);
  }
  .cabin-list-wrapper {
    position: relative;
    padding: 0.5rem;
    display: grid;
    gap: 0.15rem;
    .cabin-list {
      background-color: var(--selected-cabin-list-bg);
      color: var(--selected-cabin-list-color);
      padding-inline: 0.5rem;
      padding-block: 0.35rem;
      border-radius: var(--border-radius);
      border: 1px solid var(--input-block-border);
      display: flex;
      gap: 0.65rem;
      transition: var(--transition);
      &:focus-within, &:focus-visible, &:focus {
        z-index: 1;
      }
      &:is(.selected) {
        font-weight: 700;
        background-color: var(--secondary);
        color: var(--secondary-color);
      }
      &:not(.selected):hover {
        background-color: var(--accent);
        color: var(--accent-color);
      }
    }
  }
}