<section>
  <div class="content-wrapper gap_0">
    <h6>Accent</h6>
    <ul class="color-grid">
      <li class="grid-item accent-0">0</li>
      @for (item of accentGrid(); track $index) {
        <li class="grid-item {{item.type}}-{{item.label}}">{{$index + 1}} - {{item.label}}</li>
      }
    </ul>
    <br />
    <h6>Secondary</h6>
    <ul class="color-grid">
      <li class="grid-item secondary-0">0</li>
      @for (item of secondaryGrid(); track $index) {
        <li class="grid-item {{item.type}}-{{item.label}}">{{$index + 1}} - {{item.label}}</li>
      }
    </ul>
    <br />
    <h6>Danger</h6>
    <ul class="color-grid">
      <li class="grid-item danger-0">0</li>
      @for (item of dangerGrid(); track $index) {
        <li class="grid-item {{item.type}}-{{item.label}}">{{$index + 1}} - {{item.label}}</li>
      }
    </ul>
    <br />
    <h6>Success</h6>
    <ul class="color-grid">
      <li class="grid-item success-0">0</li>
      @for (item of successGrid(); track $index) {
        <li class="grid-item {{item.type}}-{{item.label}}">{{$index + 1}} - {{item.label}}</li>
      }
    </ul>
    <br />
    <h6>Info</h6>
    <ul class="color-grid">
      <li class="grid-item info-0">0</li>
      @for (item of infoGrid(); track $index) {
        <li class="grid-item {{item.type}}-{{item.label}}">{{$index + 1}} - {{item.label}}</li>
      }
    </ul>
    <br />
    <h6>Warning</h6>
    <ul class="color-grid">
      <li class="grid-item warning-0">0</li>
      @for (item of warningGrid(); track $index) {
        <li class="grid-item {{item.type}}-{{item.label}}">{{$index + 1}} - {{item.label}}</li>
      }
    </ul>
    <br />
    <h6>Purple</h6>
    <ul class="color-grid">
      <li class="grid-item purple-0">0</li>
      @for (item of purpleGrid(); track $index) {
        <li class="grid-item {{item.type}}-{{item.label}}">{{$index + 1}} - {{item.label}}</li>
      }
    </ul>
    <br />
    <h6>Yellow</h6>
    <ul class="color-grid">
      <li class="grid-item yellow-0">0</li>
      @for (item of yellowGrid(); track $index) {
        <li class="grid-item {{item.type}}-{{item.label}}">{{$index + 1}} - {{item.label}}</li>
      }
    </ul>

  </div>
</section>
