:host {
  --header-bg: light-dark(var(--primary-80_light), var(--primary-90_dark));
  --border-border-color: light-dark(var(--primary-80_light), transparent);
  --grouped-wrapper-height: calc(var(--header-height) - 15px);
  --grouped-wrapper-bg: light-dark(var(--primary-100_light), var(--primary-80_dark));
  --grouped-wrapper-border-radius: var(--border-radius);
  --grouped-elements-height: calc(var(--grouped-wrapper-height) - 10px);

  display: flex;
  width: 100%;
  height: var(--header-height);
  position: sticky;
  z-index: var(--max-z-index);
  background-color: var(--header-bg);
  border-block-end: 1px solid var(--border-border-color);
  inset-block-start: 0;

  .header-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-inline: var(--common-padding);
    gap: var(--common-padding);
  }
  .grouped-elements {
    position: relative;
    background-color: var(--grouped-wrapper-bg);
    height: var(--grouped-wrapper-height);
    display: flex;
    align-items: center;
    margin-block: auto;
    gap: calc(var(--common-padding) / 1.5);
    width: 100%;
    border-radius: calc(var(--grouped-wrapper-border-radius) * 1.5);
    padding: calc(var(--common-padding) / 3);
  }
}
