<div class="search-element-block" [ngClass]="{'active': enableOriginAirportList()}" data-type="origin">
  <div class="block-label">
    <small>Depart From</small>
  </div>
  <div 
    [ngClass]="{'active': enableOriginAirportList()}"
    class="block-body focus-within" 
    role="origin" 
    aria-label="origin">
    <div class="block-body-circle"></div>
    <div class="block-body-content" [ngClass]="{'active': enableOriginAirportList()}">
      <div class="input-wrapper">
        <div class="icon">
          <i class="fa-regular fa-circle-dot"></i>
        </div>
        <div class="block-input">
          <input 
            #originInput
            autocomplete="off"
            id="input-origin"
            name="input-origin"
            type="text"
            class="form-control"
            placeholder="Origin (City, Airport Name/Code)"
            [(ngModel)]="origin"
            (keydown.enter)="focusDestination()"
            (focus)="onFocused('origin')"
            (blur)="validateAndMoveFocus($event, 'origin')"
          />
        </div>
        @if(enableOriginAirportList()) {
          <div class="clear-buton icon"><i class="fa-solid fa-xmark"></i></div>
        }
      </div>
      @if(enableOriginAirportList()) {
        <airport-list 
          [(searchValue)]="origin" 
          [(selectedAirport)]="getOriginAirportData" />
      }
    </div>
  </div>
</div>
<div class="swapper-wrapper">
  <span 
    class="swapper focus-within" 
    role="swapper" 
    tabindex="0" 
    [ngClass]="{'swapped': isSwappedValue()}"
    (click)="swapValues()"
    (keydown.enter)="swapValues()">
    <i class="fa-solid fa-arrow-right-arrow-left"></i>
  </span>
</div>
<div class="search-element-block" [ngClass]="{'active': enableDestinationAirportList()}" data-type="destination">
  <div class="block-label">
    <small>Depart To</small>
  </div>
  <div 
    [ngClass]="{'active': enableDestinationAirportList()}"
    class="block-body focus-within" 
    role="destination" 
    aria-label="destination">
    <div class="block-body-circle"></div>
    <div class="block-body-content" [ngClass]="{'active': enableDestinationAirportList()}">
      <div class="input-wrapper">
        <div class="icon">
          <i class="fa-regular fa-circle-stop"></i>
        </div>
        <div class="block-input">
          <input
            #destinationInput
            autocomplete="off"
            id="input-destination"
            name="input-destination"
            type="text"
            class="input-control"
            placeholder="Destination (City, Airport Name/Code)"
            [(ngModel)]="destination"
            (keydown.enter)="focusNextField()"
            (focus)="onFocused('destination')"
            (blur)="validateAndMoveFocus($event, 'destination')"
          />
        </div>
      </div>
      @if(enableDestinationAirportList()) {
        <airport-list 
          [(searchValue)]="destination" 
          [(selectedAirport)]="getDestinationAirportData" />
      }
    </div>
  </div>
</div>
