<div class="filter-dropdown-wrapper">
  <button class="filter-button-element filter-all-button">
    <span class="icon icon-before"><i class="fa-solid fa-sliders"></i></span>
    <span>All Filters</span>
  </button>
</div>
<filter-dropdown buttonName="Sorting" iconBefore="arrow-up-arrow-down" iconAfter="ellipsis-v" />
<filter-dropdown buttonName="Stops" iconBefore="map-pin" iconAfter="ellipsis-v" />
<filter-dropdown buttonName="Pricing" iconBefore="circle-dollar" iconAfter="ellipsis-v" />
<filter-dropdown buttonName="Timing" iconBefore="clock" iconAfter="ellipsis-v" />
<filter-dropdown buttonName="Duration" iconBefore="stopwatch" iconAfter="ellipsis-v" />
<filter-dropdown buttonName="Airlines" iconBefore="plane-up" iconAfter="ellipsis-v" />
<filter-dropdown buttonName="Suppliers" iconBefore="plane-up" iconAfter="ellipsis-v" />
<!-- <filter-dropdown buttonName="Fare Type" iconBefore="ticket" iconAfter="ellipsis-v" /> -->
<!-- <filter-dropdown buttonName="Connecting Airports" iconBefore="tower-observation" iconAfter="ellipsis-v" /> -->
