
.filter-dropdown-data {
  --filter-wrapper-bg: light-dark(var(--primary-100_light), var(--primary-85_dark));
  --filter-wrapper-border: light-dark(var(--primary-80_light), var(--primary-70_dark));
  position: absolute;
  inset-block-start: calc(100% + 6px);
  width: fit-content;
  min-width: var(--filter-wrapper-min-width, calc(100% + 2rem));
  max-width: max-content;
  background-color: var(--filter-wrapper-bg);
  border-radius: calc(var(--border-radius) / 1.5);
  padding: 0.15rem;
  box-shadow: 0 0 0 6px var(--filter-wrapper-bg), 0 0 0 8px var(--secondary);
  inset-inline-start: 50%;
  translate: -50% 0;
  font-size: 0.9rem;
  &:is(.connecting-airports.selected, .selected-airlines.selected) {
    --filter-wrapper-min-width: 215px;
  }
  &:is(.selected-airlines) {
    --filter-wrapper-min-width: 180px;
  }
  &:is(.pricing-wrapper) {
    --filter-wrapper-min-width: 230px;
  }
}

.checkbox-wrapper {
  --checkbox-bg: var(--accent);
  --checkbox-active-label-color: var(--accent-color);
  --checkbox-active-color: var(--accent-color);
  position: relative;
  display: flex;
  width: 100%;
  gap: 0.5rem;
}

.data-list-wrapper {
  --searchbar-height: 37px;
  --searchbar-bg: light-dark(var(--primary-85_light), var(--primary-85_dark));
  --searchbar-color: light-dark(var(--primary-85_dark), var(--primary-85_light));

  position: relative;
  display: grid;
  gap: 0.5rem;
  width: 100%;

  .data-list-search {
    position: relative;
    display: flex;
    background-color: var(--searchbar-bg);
    color: var(--searchbar-color);
    border-radius: var(--border-radius);
    transition: var(--transition);
    &:focus-within {
      background-color: var(--searchbar-color);
      color: var(--searchbar-bg);
    }
    .icon {
      width: var(--searchbar-height);
      aspect-ratio: 1;
      flex-shrink: 0;
      display: grid;
      place-items: center;
    }
    input {
      background-color: transparent;
      outline-color: transparent;
      height: 100%;
      width: 100%;
      border: 0;
      color: inherit;
      &:placeholder-shown {
        color: inherit;
      }
    }
  }
}
.data-list {
  --list-bg: light-dark(var(--primary-95_light), var(--primary-80_dark));
  --list-color: light-dark(var(--primary-90_dark), var(--primary-30_dark));
  --list-hover-bg: var(--accent);
  --list-border-color: light-dark(var(--primary-80_light), var(--primary-70_dark));

  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.1rem;

  &:is(.hasScrollbar) {
    --scrollbar-width: none;
    --scrollbar-track-bg: transparent;
    overflow-x: clip;
    overflow-y: scroll;
    max-height: 50vh;
  }

  .data-list-item {
    background-color: var(--list-bg);
    color: var(--list-color);
    padding-inline: 0.6rem 0.5rem;
    padding-block: 0.25rem;
    border-radius: var(--border-radius);
    border: 1px solid var(--input-block-border);
    display: flex;
    gap: 0.65rem;
    cursor: pointer;
    transition: var(--transition);
    width: 100%;
    white-space: nowrap;

    &:focus-within, &:focus-visible, &:focus {
      z-index: 1;
    }

    &:is(.selected) {
      font-weight: 700;
      background-color: var(--secondary);
      color: var(--secondary-color);
    }
    &:not(.selected):hover {
      background-color: var(--accent);
      color: var(--accent-color);
    }
  }
  .breaker {
    background-color: var(--list-border-color);
    width: 100%;
    height: 1px;
    border: 0;
    margin-block: 0.25rem;
  }
}

.error-state {
  --error-state-bg: light-dark(var(--danger-100_light), var(--danger-10_dark));
  --error-state-border: light-dark(var(--danger-80_light), var(--danger-10_dark));
  --error-state-color: light-dark(var(--danger-100_dark), var(--danger-100_dark));
  position: relative;
  padding-inline: 0.65rem;
  padding-block: 0.5rem;
  display: block;
  border-radius: calc(var(--border-radius) / 1);
  background-color: var(--error-state-bg);
  color: var(--error-state-color);
  box-shadow: inset 0 0 0 1px var(--error-state-border);
  white-space: normal;
}
