.search-form-card-wrapper {
  --wrapper-bg: light-dark(var(--primary-100_light), var(--primary-90_dark));
  --wrapper-border-radius: calc(var(--border-radius) * 2.5);
  --wrapper-padding: calc(var(--common-padding) * 1.5);
  --tab-list-bg-active: var(--secondary);
  --tab-bg: light-dark(var(--primary-95_light), var(--primary-95_dark));
  --tab-height: auto;
  --tab-list-bg-hovered: light-dark(var(--primary-85_light), var(--primary-85_dark));
  --tab-padding: 0.25rem;
  display: flex;
  flex-direction: column;
  gap: var(--common-padding);
  background-color: var(--wrapper-bg);
  border-radius: var(--wrapper-border-radius);
  isolation: isolate;
  border: 1px solid light-dark(var(--primary-85_light), var(--primary-75_dark));
  &::after {
    content: '';
    position: absolute;
    inset-block-start: 100%;
    width: 96%;
    inset-inline-start: 2%;
    height: 8px;
    background-color: light-dark(var(--primary-85_light), var(--primary-15_light));
    border-end-start-radius: calc(var(--wrapper-border-radius) / 1.5);
    border-end-end-radius: calc(var(--wrapper-border-radius) / 1.5);
    z-index: -1;
  }
  .search-form-content {
    position: relative;
    padding: var(--wrapper-padding);
    padding-block-start: var(--common-padding);
    .search-form-body {
      display: flex;
      flex-direction: column;
      gap: var(--common-padding);
    }
  }
  .search-form-header {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    border-start-start-radius: var(--wrapper-border-radius);
    border-start-end-radius: var(--wrapper-border-radius);
    overflow: clip;
    .heading {
      position: absolute;
      inset-inline-start: 0;
      inset-block-start: 0;
      padding: var(--wrapper-padding);
      padding-block-end: calc(var(--wrapper-padding) / 5);
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: end;
      pointer-events: none;
      background-image: linear-gradient(15deg, light-dark(hsla(var(--primary-100_light-hsl), 0.75), hsla(var(--primary-90_dark-hsl), 0.75)) 25%, transparent 50%);
    }
  }
}

.search-element-block {
  --common-input-height: 50px;
  --input-block-height-fallback: var(--common-input-height);
  --block-bg-fallback: light-dark(var(--primary-95_light), var(--primary-75_dark));
  --block-color-fallback: light-dark(var(--primary-100_light), var(--primary-90_dark));
  --block-border-color-fallback: var(--border-color);
  --block-hovered-border-color-fallback: var(--accent);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--block-gap, 0.65rem); 
  width: 100%;
  
  & .block-label { font-weight: 600; display: flex; }
  & .block-body {
    position: relative;
    display: flex;
    box-shadow: inset 0 0 0 1px var(--input-block-border-color, var(--block-border-color-fallback));
    background-color: var(--input-block-bg, var(--block-bg-fallback));
    border-radius: var(--input-block-border-radius, var(--border-radius));
    min-height: var(--input-block-height);
    .icon {
      font-size: var(--icon-size, 1.25rem);
      color: var(--icon-color, inherit);
      width: var(--input-block-height, var(--input-block-height-fallback));
      height: var(--input-block-height, var(--input-block-height-fallback));
      flex-shrink: 0;
    }
    .block-input {
      width: 100%;
      border-radius: inherit;
      border-start-start-radius: 0;
      border-end-start-radius: 0;
      overflow: clip;
      display: flex;
      align-items: center;
      input {
        background-color: transparent;
        outline: none;
        width: 100%;
        border: none;
        height: var(--input-block-height, var(--input-block-height-fallback));
        color: var(--input-block-color, inherit);
      }
    }
    &:focus-within {
      --outline-bg: light-dark(var(--primary-95_light), var(--primary-30_dark));
      --outline-text-color: light-dark(var(--primary-95_dark), var(--primary-100_dark));
      background-color: var(--outline-bg);
    }
    &:hover {
      --input-block-border-color: var(--block-hovered-border-color-fallback);
      z-index: 1;
      overflow: visible;
    }
    
  }
}
